Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm, @gep13, @moebius87, @johnstevenson, @jetersen, @VuiMuich, @dgalbraith, @majkinetor, @jeterson

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/7ae2452e47a553f83a199b2bcaa826aabec56caf
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - smartftp [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/1ef643bec011e9697d1ec9a3219734784b379016
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/cd90476fcb818c51f32907351fcb1e5b01ea5dff
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 4 updated - brave chromium flightgear Opera [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/6b212acb6cd8dc553f3b5ad39939c5d0ed29baae
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/flightgear/flightgear.nuspec
  automatic/flightgear/tools/chocolateyInstall.ps1
  automatic/opera/opera.nuspec
  automatic/opera/tools/chocolateyInstall.ps1
Owners: @AdmiringWorm

AU: 2 updated - googlechromebeta Waterfox [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/ac5e042fea6d1750abcc6c7bfae05befe0270087
  automatic/googlechromebeta/googlechromebeta.nuspec
  automatic/googlechromebeta/tools/chocolateyInstall.ps1
  automatic/waterfox/waterfox.json
  automatic/waterfox/waterfox.nuspec
Owners: @AdmiringWorm

AU: 1 updated - calibre [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/edcaa2777e70b1ba2dfc7cdd8be8e9bf45ac7220
  automatic/calibre/calibre.nuspec
  automatic/calibre/legal/VERIFICATION.txt
  automatic/calibre/tools/chocolateyInstall.ps1
Owners: @gep13, @AdmiringWorm

AU: 5 updated - 360ts chromium Opera vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/fd9bef5313e0b66db33efa8558ab3ccc00629b5a
  automatic/360ts/360ts.json
  automatic/360ts/360ts.nuspec
  automatic/360ts/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/opera/opera.nuspec
  automatic/opera/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

(#1795) Uninstall fails when multiple software versions installed
  automatic/blender/Readme.md
Owners: none

(#1791) Fix Brave package automation
  automatic/brave/update.ps1
Owners: @AdmiringWorm

(#1777) Fix registry key for ShellRunas EULA
  automatic/sysinternals/tools/helpers.ps1
Owners: none

(#1755) Fix version detection
  automatic/seafile-client/update.ps1
Owners: none

AU: 2 updated - blender chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/38be36277f050c221a5e523d60dcbf58da86a5d5
  automatic/blender/blender.nuspec
  automatic/blender/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/a4b534179374c7878ee2700532ef2cd87fba8361
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

(vcredist140) support --forcex86
  automatic/vcredist140/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - vcredist140 [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/46c43cbae04896da5164d55db6f3b94ca272150a
  automatic/vcredist140/vcredist140.json
  automatic/vcredist140/vcredist140.nuspec
Owners: none

AU: 1 updated - vcredist140 [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/b2b8c0d4dc990bf4d2132e1c1d153f7deaf3047e
  automatic/vcredist140/tools/data.ps1
  automatic/vcredist140/vcredist140.json
  automatic/vcredist140/vcredist140.nuspec
Owners: none

AU: 1 updated - vcredist140 [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/0ef6dd5dfdf9acead4dde6ffa02f2aee2164570c
  automatic/vcredist140/tools/data.ps1
  automatic/vcredist140/vcredist140.json
  automatic/vcredist140/vcredist140.nuspec
Owners: none

AU: 2 updated - chromium mp3tag [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/b69c3605eac1d9f4f904a5fa3575ac8b0cf14edf
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mp3tag/legal/VERIFICATION.txt
  automatic/mp3tag/mp3tag.nuspec
  automatic/mp3tag/tools/ChocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/cda4d96af0d401891f295bdad7b37e580ac6b8f6
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/d62146c430b92dd15cd3363e15d6ae17114dae71
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/1d8af4748e4816787452b9eb3eb8f600eb584f94
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

(doc) Fix screenshot and add note for clarifying questions
  automatic/kitty/README.md
Owners: none

(doc) Add note on raising issues / discussions
  automatic/brave/README-beta.md
Owners: @AdmiringWorm

(doc) Add note on raising issues / discussions
  automatic/brave/README-beta.md
  automatic/brave/README-release.md
Owners: @AdmiringWorm

AU: 1 updated - vscode-insiders [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/89cc0d2ce3e8493d59317ba86f512e13f90788e8
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/b7c4932d379cac6952d237a5497d5f2e0d3d09fc
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
Owners: none

AU: 3 updated - chromium Ghostscript Ghostscript.app [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/e41f4f47455f234a953a1e326f5c8ec027e7c0e8
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/ghostscript.app/ghostscript.app.nuspec
  automatic/ghostscript.app/legal/VERIFICATION.txt
  automatic/ghostscript.app/tools/ChocolateyInstall.ps1
  automatic/ghostscript/ghostscript.nuspec
Owners: none

AU: 1 updated - GoogleChrome [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/b54151a30c769d795f5100f6d778021b84cd5b8b
  automatic/googlechrome/googlechrome.nuspec
  automatic/googlechrome/tools/chocolateyInstall.ps1
Owners: none

(doc) Clarify where to raise issues / questions
  automatic/ghostscript.app/README.md
  automatic/ghostscript/README.md
  automatic/palemoon/README.md
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/fe471192a128844abeb6d3f1abc540f97f717a15
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - brave libreoffice-fresh [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/e9940c1665930378e6918931176efa35dab38581
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/libreoffice-streams/README.md
  automatic/libreoffice-streams/libreoffice-streams.json
  automatic/libreoffice-streams/libreoffice-streams.nuspec
  automatic/libreoffice-streams/tools/chocolateyInstall.ps1
Owners: @AdmiringWorm

(doc) Clarify where to raise issues / questions
  automatic/vlc/README.md
Owners: none

AU: 5 updated - chromium Firefox nodejs vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/9438d3ffce2254620b25157b87c7cbbbc205ee14
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/firefox/firefox.json
  automatic/firefox/firefox.nuspec
  automatic/firefox/tools/LanguageChecksums.csv
  automatic/firefox/tools/chocolateyInstall.ps1
  automatic/nodejs/nodejs.json
  automatic/nodejs/nodejs.nuspec
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - nodejs.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/0448b02b74c1a09ce198088bc46f292c174840ed
  automatic/nodejs.install/legal/VERIFICATION.txt
  automatic/nodejs.install/nodejs.install.json
  automatic/nodejs.install/nodejs.install.nuspec
  automatic/nodejs.install/tools/chocolateyInstall.ps1
Owners: none

AU: 4 updated - chromium python python3 thunderbird [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/46ab7770fd1872e5cba0d6de9b44db9a3b1d1f50
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/python/python.json
  automatic/python/python.nuspec
  automatic/python3/legal/VERIFICATION.txt
  automatic/python3/python3.json
  automatic/python3/python3.nuspec
  automatic/python3/tools/helpers.ps1
  automatic/thunderbird/thunderbird.nuspec
  automatic/thunderbird/tools/LanguageChecksums.csv
  automatic/thunderbird/tools/chocolateyInstall.ps1
Owners: @majkinetor, @gep13

AU: 5 updated - chromium owncloud-client vscode-insiders vscode-insiders.install Waterfox [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/fb631b9106c3dce5bc351657ea0ce7e4c32226f6
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/owncloud-client/legal/VERIFICATION.txt
  automatic/owncloud-client/owncloud-client.nuspec
  automatic/owncloud-client/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
  automatic/waterfox/legal/VERIFICATION.txt
  automatic/waterfox/waterfox.json
  automatic/waterfox/waterfox.nuspec
Owners: @AdmiringWorm

AU: 2 updated - googlechromebeta keepassxc [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/6bd5ea1f019fdd616dd3331ba0a9f6a0426799ca
  automatic/googlechromebeta/googlechromebeta.nuspec
  automatic/googlechromebeta/tools/chocolateyInstall.ps1
  automatic/keepassxc/keepassxc.nuspec
  automatic/keepassxc/legal/VERIFICATION.txt
  automatic/keepassxc/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium octave.portable smartftp [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/661cef36516883e38e7c722cce8f6d3f23750ee6
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/octave.portable/legal/VERIFICATION.txt
  automatic/octave.portable/octave.portable.nuspec
  automatic/octave.portable/tools/chocolateyInstall.ps1
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
Owners: @dgalbraith

AU: 1 updated - Opera [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/6a8d0868957b371dab1fe4728e641edacb392b2c
  automatic/opera/opera.nuspec
  automatic/opera/tools/chocolateyInstall.ps1
Owners: none

(#1791) Use new method to query endpoints
  automatic/brave/update.ps1
Owners: @AdmiringWorm

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/brave*              @AdmiringWorm
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @AdmiringWorm
*/waterfox*           @AdmiringWorm
*/k9s*                @moebius87
*/composer*           @johnstevenson
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/thunderbird*        @majkinetor @gep13
*/git.portable*       @jeterson

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes
