Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @Jackenmen, @gep13, @AdmiringWorm, @johnstevenson, @danielkoek, @jetersen, @VuiMuich, @dgalbraith, @hansnull, @TheCakeIsNaOH, @chocolatey-community/chocolatey-community-solutions, @pauby, @HollowMan6, @tunisiano187, @pascalberger

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/python3-streams     @chocolatey-community/chocolatey-team-maintainers @Jackenmen
*/python*             @chocolatey-community/chocolatey-team-maintainers
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @chocolatey-community/chocolatey-team-maintainers
*/waterfox*           @AdmiringWorm
*/composer*           @johnstevenson
*/k9s*                @danielkoek
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/selenium-gecko-driver* @hansnull @chocolatey-community/chocolatey-team-maintainers
*/es*                 @TheCakeIsNaOH
*/selenium-chrome-driver* @chocolatey-community/chocolatey-team-maintainers
*/intunewinapputil*   @chocolatey-community/chocolatey-team-maintainers
*/selenium-chromium-edge-driver* @chocolatey-community/chocolatey-team-maintainers @AdmiringWorm
*/jenkins*            @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/brave*              @AdmiringWorm
*/nexus-repository*   @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/totalcommander*     @pauby
*/kubescape*          @HollowMan6
*/googlechromebeta*   @tunisiano187
*/krita*              @tunisiano187
*/selenium.powershell* @chocolatey-community/chocolatey-team-maintainers

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes

extensions/chocolatey-azuredatastudio.extension/*      @pascalberger
extensions/chocolatey-vscode.extension/*               @pascalberger

(zotero) update to v7.0.7
  automatic/zotero/legal/VERIFICATION.txt
  automatic/zotero/zotero.nuspec
Owners: none

AU: 6 updated - dropbox libreoffice-fresh mp3tag spotify vscode vscode.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/e2549b9874dc073d67bcc5951d9e092db9d0f324
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/libreoffice-streams/README.md
  automatic/libreoffice-streams/libreoffice-streams.json
  automatic/libreoffice-streams/libreoffice-streams.nuspec
  automatic/libreoffice-streams/tools/chocolateyInstall.ps1
  automatic/mp3tag/legal/VERIFICATION.txt
  automatic/mp3tag/mp3tag.nuspec
  automatic/mp3tag/tools/ChocolateyInstall.ps1
  automatic/spotify/info
  automatic/spotify/spotify.nuspec
  automatic/spotify/tools/ChocolateyInstall.ps1
  automatic/vscode.install/tools/ChocolateyInstall.ps1
  automatic/vscode.install/vscode.install.nuspec
  automatic/vscode/vscode.nuspec
Owners: none

AU: 4 updated - cmake selenium-chromium-edge-driver vim Waterfox [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/ffeb696705cbd725429d3c3911e4ab58d2ac247d
  automatic/cmake/cmake.json
  automatic/cmake/cmake.nuspec
  automatic/selenium-chromium-edge-driver/selenium-chromium-edge-driver.nuspec
  automatic/selenium-chromium-edge-driver/tools/chocolateyinstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
  automatic/waterfox/legal/VERIFICATION.txt
  automatic/waterfox/tools/chocolateyInstall.ps1
  automatic/waterfox/waterfox.json
  automatic/waterfox/waterfox.nuspec
Owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm

AU: 1 updated - freecad [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/061464412e6f0e7302651ead0fa108d3a319027e
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/6f9268448956d4e2dbdf0a07bc133c8ac8cf42a8
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/9398f27179670f2d54a926ca766d4a462d7f8af7
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - freecad [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/3c107daff230266ecbe0782dcdd1ebecf77bd3ca
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - 360ts [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/79f0a40b49e22e402ac54798e3efb8a4420c0aed
  automatic/360ts/360ts.json
  automatic/360ts/360ts.nuspec
  automatic/360ts/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium freeciv [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/c57284aa8804cf8f85a96def1d520821a1f6720f
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/freeciv/freeciv.nuspec
  automatic/freeciv/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - mixxx [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/77593c8db68a285701e011117fd90646ac7687d8
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/0b134d44f60687d5f0912f605f78ec556483cf68
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/1cb53442e6d445f22f85d89c677f142ac131aeb9
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 2 updated - vscode-insiders vscode-insiders.install [skip ci]
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 3 updated - Firefox mixxx skype [skip ci]
  automatic/firefox/firefox.json
  automatic/firefox/firefox.nuspec
  automatic/firefox/tools/LanguageChecksums.csv
  automatic/firefox/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/skype/skype.nuspec
  automatic/skype/tools/chocolateyInstall.ps1
Owners: none

AU: 4 updated - chromium freecad mixxx vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

(tortoisesvn) Fix finding download URL from SourceForge
  automatic/tortoisesvn/update.ps1
Owners: none

(tortoisesvn) Removing the part after ? so Get-RemoteFiles works
  automatic/tortoisesvn/update.ps1
Owners: none

(tortoisesvn) Using /download instead of data-release-url
  automatic/tortoisesvn/update.ps1
Owners: none

(build) Remove AutoHotKey Install from AppVeyor
  .appveyor.yml
Owners: none

AU: 6 updated - blender brave chromium tortoisesvn vscode-insiders vscode-insiders.install [skip ci]
  automatic/blender/blender.nuspec
  automatic/blender/tools/chocolateyInstall.ps1
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/tortoisesvn/legal/VERIFICATION.txt
  automatic/tortoisesvn/tortoisesvn.nuspec
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

AU: 6 updated - 1password 1password8 GoogleChrome mkdocs-material Opera prey [skip ci]
  automatic/1password/1password.json
  automatic/1password/1password.nuspec
  automatic/1password8/1password8.nuspec
  automatic/1password8/tools/chocolateyInstall.ps1
  automatic/googlechrome/googlechrome.nuspec
  automatic/googlechrome/tools/chocolateyInstall.ps1
  automatic/mkdocs-material/mkdocs-material.nuspec
  automatic/mkdocs-material/tools/ChocolateyInstall.ps1
  automatic/opera/opera.nuspec
  automatic/opera/tools/chocolateyInstall.ps1
  automatic/prey/legal/VERIFICATION.txt
  automatic/prey/prey.json
  automatic/prey/prey.nuspec
  automatic/prey/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - vim [skip ci]
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 4 updated - ccleaner chromium vscode-insiders vscode-insiders.install [skip ci]
  automatic/ccleaner/ccleaner.nuspec
  automatic/ccleaner/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 3 updated - chromium dropbox smartftp [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - vim [skip ci]
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 4 updated - brave chromium vscode-insiders vscode-insiders.install [skip ci]
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

AU: 1 updated - brave [skip ci]
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
Owners: @AdmiringWorm

AU: 2 updated - chromium vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 2 updated - chromium zotero [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/zotero/legal/VERIFICATION.txt
  automatic/zotero/tools/chocolateyInstall.ps1
  automatic/zotero/zotero.nuspec
Owners: none

AU: 2 updated - vscode-insiders vscode-insiders.install [skip ci]
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - dropbox [skip ci]
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
Owners: none

AU: 7 updated - chromium cmake cmake.install cmake.portable freecad mixxx vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/cmake.install/cmake.install.json
  automatic/cmake.install/cmake.install.nuspec
  automatic/cmake.install/legal/VERIFICATION.txt
  automatic/cmake.install/tools/chocolateyInstall.ps1
  automatic/cmake.portable/cmake.portable.json
  automatic/cmake.portable/cmake.portable.nuspec
  automatic/cmake.portable/legal/VERIFICATION.txt
  automatic/cmake.portable/tools/chocolateyInstall.ps1
  automatic/cmake/cmake.json
  automatic/cmake/cmake.nuspec
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 3 updated - chromium mixxx mkdocs-material [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/mkdocs-material/mkdocs-material.nuspec
  automatic/mkdocs-material/tools/ChocolateyInstall.ps1
Owners: none

AU: 1 updated - mixxx [skip ci]
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium mixxx vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none
