Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @Jackenmen, @gep13, @AdmiringWorm, @johnstevenson, @danielkoek, @jetersen, @VuiMuich, @dgalbraith, @hansnull, @TheCakeIsNaOH, @chocolatey-community/chocolatey-community-solutions, @pauby, @HollowMan6, @tunisiano187, @pascalberger

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/python3-streams     @chocolatey-community/chocolatey-team-maintainers @Jackenmen
*/python*             @chocolatey-community/chocolatey-team-maintainers
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @chocolatey-community/chocolatey-team-maintainers
*/waterfox*           @AdmiringWorm
*/composer*           @johnstevenson
*/k9s*                @danielkoek
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/selenium-gecko-driver* @hansnull @chocolatey-community/chocolatey-team-maintainers
*/es*                 @TheCakeIsNaOH
*/selenium-chrome-driver* @chocolatey-community/chocolatey-team-maintainers
*/intunewinapputil*   @chocolatey-community/chocolatey-team-maintainers
*/selenium-chromium-edge-driver* @chocolatey-community/chocolatey-team-maintainers @AdmiringWorm
*/jenkins*            @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/brave*              @AdmiringWorm
*/nexus-repository*   @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/totalcommander*     @pauby
*/kubescape*          @HollowMan6
*/googlechromebeta*   @tunisiano187
*/krita*              @tunisiano187
*/selenium.powershell* @chocolatey-community/chocolatey-team-maintainers

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes

extensions/chocolatey-azuredatastudio.extension/*      @pascalberger
extensions/chocolatey-vscode.extension/*               @pascalberger

AU: 2 updated - vscode-insiders vscode-insiders.install [skip ci]
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

(nodejs.install) Don't set 32-bit URLs for NodeJS 23+
  automatic/nodejs.install/update.ps1
Owners: none

AU: 2 updated - rufus SQLite [skip ci]
  automatic/rufus/legal/VERIFICATION.txt
  automatic/rufus/rufus.nuspec
  automatic/sqlite/legal/VERIFICATION.txt
  automatic/sqlite/sqlite.nuspec
  automatic/sqlite/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium freecad vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 5 updated - brave chromium freecad vscode-insiders vscode-insiders.install [skip ci]
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

AU: 3 updated - chromium iTunes php [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/itunes/info
  automatic/itunes/itunes.nuspec
  automatic/itunes/tools/chocolateyInstall.ps1
  automatic/php/legal/VERIFICATION.txt
  automatic/php/php.json
  automatic/php/php.nuspec
  automatic/php/tools/chocolateyInstall.ps1
Owners: none

AU: 7 updated - GoogleChrome patch-my-pc php protoc selenium-chromium-edge-driver tor-browser vim [skip ci]
  automatic/googlechrome/googlechrome.nuspec
  automatic/googlechrome/tools/chocolateyInstall.ps1
  automatic/patch-my-pc/patch-my-pc.nuspec
  automatic/patch-my-pc/tools/chocolateyInstall.ps1
  automatic/php/legal/VERIFICATION.txt
  automatic/php/php.json
  automatic/php/php.nuspec
  automatic/php/tools/chocolateyInstall.ps1
  automatic/protoc/legal/VERIFICATION.txt
  automatic/protoc/protoc.nuspec
  automatic/protoc/tools/chocolateyinstall.ps1
  automatic/selenium-chromium-edge-driver/selenium-chromium-edge-driver.nuspec
  automatic/selenium-chromium-edge-driver/tools/chocolateyinstall.ps1
  automatic/tor-browser/tools/chocolateyInstall.ps1
  automatic/tor-browser/tor-browser.nuspec
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm

AU: 2 updated - kubernetes-cli openshift-cli [skip ci]
  automatic/kubernetes-cli/kubernetes-cli.json
  automatic/kubernetes-cli/kubernetes-cli.nuspec
  automatic/kubernetes-cli/legal/VERIFICATION.txt
  automatic/openshift-cli/legal/VERIFICATION.txt
  automatic/openshift-cli/openshift-cli.nuspec
Owners: none

AU: 4 updated - chromium Opera vscode-insiders vscode-insiders.install [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/opera/opera.nuspec
  automatic/opera/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 4 updated - brave chromium kubernetes-cli smartftp [skip ci]
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/kubernetes-cli/kubernetes-cli.json
  automatic/kubernetes-cli/kubernetes-cli.nuspec
  automatic/kubernetes-cli/legal/VERIFICATION.txt
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
Owners: @AdmiringWorm

AU: 1 updated - vim [skip ci]
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 3 updated - 360ts chromium gom-player [skip ci]
  automatic/360ts/360ts.json
  automatic/360ts/360ts.nuspec
  automatic/360ts/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/gom-player/gom-player.nuspec
  automatic/gom-player/tools/chocolateyinstall.ps1
Owners: @AdmiringWorm

AU: 6 updated - alldup brave skype spotify vscode-insiders vscode-insiders.install [skip ci]
  automatic/alldup/alldup.nuspec
  automatic/alldup/legal/VERIFICATION.txt
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/skype/skype.nuspec
  automatic/skype/tools/chocolateyInstall.ps1
  automatic/spotify/info
  automatic/spotify/spotify.nuspec
  automatic/spotify/tools/ChocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

AU: 4 updated - dropbox freevideoeditor musescore webstorm [skip ci]
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/freevideoeditor/freevideoeditor.nuspec
  automatic/freevideoeditor/legal/VERIFICATION.txt
  automatic/freevideoeditor/tools/chocolateyInstall.ps1
  automatic/musescore/legal/VERIFICATION.txt
  automatic/musescore/musescore.nuspec
  automatic/musescore/tools/chocolateyInstall.ps1
  automatic/webstorm/tools/ChocolateyInstall.ps1
  automatic/webstorm/webstorm.nuspec
Owners: none

AU: 3 updated - chromium selenium-chromium-edge-driver vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/selenium-chromium-edge-driver/selenium-chromium-edge-driver.nuspec
  automatic/selenium-chromium-edge-driver/tools/chocolateyinstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm

(git) Respect build in version number
  automatic/git.install/update.ps1
Owners: none

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

(inkscape) Disable package update
  automatic/inkscape/update.ps1
Owners: none

AU: 3 updated - git git.install git.portable [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/93bc006a040388345be11f1c27ab9f6cac64a0b9
  automatic/git.install/git.install.nuspec
  automatic/git.install/legal/VERIFICATION.txt
  automatic/git.install/tools/chocolateyInstall.ps1
  automatic/git.portable/git.portable.nuspec
  automatic/git.portable/legal/VERIFICATION.txt
  automatic/git/git.nuspec
Owners: none

AU: 1 updated - calibre [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/7ffab30ffb890ad28602fc8c3c800734a83ec43a
  automatic/calibre/calibre.nuspec
  automatic/calibre/tools/chocolateyInstall.ps1
Owners: @gep13, @AdmiringWorm

AU: 1 updated - thunderbird [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/b0f59ccd02f0f60a5aa14caa5a59bbe82b760b8e
  automatic/thunderbird/thunderbird.nuspec
  automatic/thunderbird/tools/LanguageChecksums.csv
  automatic/thunderbird/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - displayfusion [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/69b69dc19d6f2ad8ba78effada95eca0984d39b7
  automatic/displayfusion/displayfusion.json
  automatic/displayfusion/displayfusion.nuspec
  automatic/displayfusion/legal/VERIFICATION.txt
  automatic/displayfusion/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium dropbox freecad [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/c11c50349107121088a7ae0f8d365b17c1b0e529
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - freecad [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/d9ddec45fc5519afb95fbf0aa3ce31a0366dbf67
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium peazip peazip.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/4aec7fbc9bf7b9f323344315f327ec830138b3a3
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/peazip.install/legal/VERIFICATION.txt
  automatic/peazip.install/peazip.install.nuspec
  automatic/peazip.install/tools/chocolateyinstall.ps1
  automatic/peazip/peazip.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/c057feb1932da8f17c36c05a852498d5a5e556de
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/d7833db93e99904dd648be426ac275a55366fd53
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/44d99ec281853a6c9c1df332f22f5dd5ff385b96
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

(nodejs.install) Unblock auto-updates by temporarily disabling NodeJS v23 onwards
  automatic/nodejs.install/update.ps1
Owners: none

(docs) Add convention about installer arguments
  COMMITTERS.md
  docs/images/lessmsi-allusers-property.png
  docs/images/lessmsi-table-selection.png
  docs/images/lessmsi-table-view.png
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/0b05bc928688d67d0362ad889f1755f24571df09
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

Fix broken links to discussions/issues/PRs in README
  README.md
Owners: none

AU: 2 updated - vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/71b9175a56cade6de515991503f40d28a6cd635e
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - wesnoth [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/188a529c530b3edd88a5276ed41e1939691f3de0
  automatic/wesnoth/tools/chocolateyInstall.ps1
  automatic/wesnoth/wesnoth.json
  automatic/wesnoth/wesnoth.nuspec
Owners: none

AU: 5 updated - chromium freecad qbittorrent smartftp vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/b102caf2b2ac4a6c31aa4f891c937afd46f721b7
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/qbittorrent/qbittorrent.nuspec
  automatic/qbittorrent/tools/VERIFICATION.txt
  automatic/qbittorrent/tools/chocolateyinstall.ps1
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 3 updated - chromium seafile-client smartftp [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/241189640eba1b8563c1212474e85384ae799ee7
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/seafile-client/legal/VERIFICATION.txt
  automatic/seafile-client/seafile-client.nuspec
  automatic/seafile-client/tools/chocolateyInstall.ps1
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - brave [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/84f8bac58cff2b05dd626198fed1fdad3de7e6e2
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
Owners: @AdmiringWorm

(zotero) changes by request
  automatic/zotero/legal/LICENSE.txt
  automatic/zotero/legal/VERIFICATION.txt
  automatic/zotero/tools/chocolateyInstall.ps1
  automatic/zotero/tools/chocolateyUninstall.ps1
  automatic/zotero/update.ps1
  automatic/zotero/zotero.nuspec
Owners: none

AU: 3 updated - cmake cmake.install cmake.portable [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/87c69528df0398c1dadd2ce8a7c0279dc8b5c179
  automatic/cmake.install/cmake.install.json
  automatic/cmake.install/cmake.install.nuspec
  automatic/cmake.install/legal/VERIFICATION.txt
  automatic/cmake.install/tools/chocolateyInstall.ps1
  automatic/cmake.portable/cmake.portable.json
  automatic/cmake.portable/cmake.portable.nuspec
  automatic/cmake.portable/legal/VERIFICATION.txt
  automatic/cmake.portable/tools/chocolateyInstall.ps1
  automatic/cmake/cmake.json
  automatic/cmake/cmake.nuspec
Owners: none

AU: 7 updated - 1password 1password8 audacity brave freecad jenkins prey [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/dd19c0bc1cdf6be42d6fccaff8ec3462679142d9
  automatic/1password/1password.json
  automatic/1password/1password.nuspec
  automatic/1password8/1password8.nuspec
  automatic/1password8/tools/chocolateyInstall.ps1
  automatic/audacity/audacity.nuspec
  automatic/audacity/legal/VERIFICATION.txt
  automatic/audacity/tools/chocolateyInstall.ps1
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/jenkins/jenkins.nuspec
  automatic/jenkins/legal/VERIFICATION.txt
  automatic/prey/legal/VERIFICATION.txt
  automatic/prey/prey.json
  automatic/prey/prey.nuspec
  automatic/prey/tools/chocolateyInstall.ps1
Owners: @AdmiringWorm, @chocolatey-community/chocolatey-team-maintainers, @chocolatey-community/chocolatey-community-solutions
