Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @Jackenmen, @gep13, @AdmiringWorm, @johnstevenson, @danielkoek, @jetersen, @VuiMuich, @dgalbraith, @hansnull, @TheCakeIsNaOH, @chocolatey-community/chocolatey-community-solutions, @pauby, @HollowMan6, @tunisiano187, @pascalberger

AU: 2 updated - chromium vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/20ef935d9ae6c06dee9ee69485f2f63e7102703a
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

(maint) Update to latest Choco version
  .appveyor.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
Owners: none

AU: 4 updated - brave Opera vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/3fbb004bb0ea88a1e99c5b3d64599bd83a6027c1
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/opera/opera.nuspec
  automatic/opera/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

AU: 2 updated - palemoon spotify [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/ead776e78cb61f6059c546c5d7a48aaea3f7cfa1
  automatic/palemoon/palemoon.nuspec
  automatic/palemoon/tools/chocolateyInstall.ps1
  automatic/spotify/info
  automatic/spotify/spotify.nuspec
  automatic/spotify/tools/ChocolateyInstall.ps1
Owners: none

AU: 2 updated - datagrip webstorm [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/3dc66cbdb79940e06ecdb319d8cead8b2ca0e89a
  automatic/datagrip/datagrip.nuspec
  automatic/datagrip/tools/ChocolateyInstall.ps1
  automatic/webstorm/tools/ChocolateyInstall.ps1
  automatic/webstorm/webstorm.nuspec
Owners: none

AU: 5 updated - chromium cmake cmake.install cmake.portable vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/0b6ceee6247e29c3aed8229c03b2bcb243bde0ec
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/cmake.install/cmake.install.json
  automatic/cmake.install/cmake.install.nuspec
  automatic/cmake.install/legal/VERIFICATION.txt
  automatic/cmake.install/tools/chocolateyInstall.ps1
  automatic/cmake.portable/cmake.portable.json
  automatic/cmake.portable/cmake.portable.nuspec
  automatic/cmake.portable/legal/VERIFICATION.txt
  automatic/cmake.portable/tools/chocolateyInstall.ps1
  automatic/cmake/cmake.json
  automatic/cmake/cmake.nuspec
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 4 updated - chromium tribler vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/feaebad6867d31af8f6a6dde7600cb2f029dfe8e
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/tribler/tools/chocolateyInstall.ps1
  automatic/tribler/tribler.nuspec
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 2 updated - 360ts zotero [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/0011da2fb57abb7147bec3db80e9cff86d9c5fba
  automatic/360ts/360ts.json
  automatic/360ts/360ts.nuspec
  automatic/360ts/tools/chocolateyInstall.ps1
  automatic/zotero/legal/VERIFICATION.txt
  automatic/zotero/tools/chocolateyInstall.ps1
  automatic/zotero/zotero.nuspec
Owners: none

AU: 2 updated - chromium vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/64872b4c5903997913d17e214cfc5dc10f4ff76a
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 2 updated - dropbox graphviz [skip ci]
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/graphviz/graphviz.nuspec
  automatic/graphviz/legal/VERIFICATION.txt
  automatic/graphviz/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/720d1422bc398a9d6d2c41839214ede364dd9c0f
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - SQLite vim [skip ci]
  automatic/sqlite/legal/VERIFICATION.txt
  automatic/sqlite/sqlite.nuspec
  automatic/sqlite/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 2 updated - chromium msys2 [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/msys2/legal/VERIFICATION.txt
  automatic/msys2/msys2.nuspec
Owners: none

AU: 2 updated - chromium mumble [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mumble/legal/VERIFICATION.txt
  automatic/mumble/mumble.nuspec
  automatic/mumble/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - vim vscode-insiders vscode-insiders.install [skip ci]
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - vscode-insiders vscode-insiders.install [skip ci]
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 4 updated - chromium tortoisesvn vim voicebot [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/tortoisesvn/legal/VERIFICATION.txt
  automatic/tortoisesvn/tortoisesvn.nuspec
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
  automatic/voicebot/tools/chocolateyInstall.ps1
  automatic/voicebot/voicebot.nuspec
Owners: none

Update security protocol handling in test_all.ps1 for PowerShell 6+
  test_all.ps1
Owners: none

Fix copyright reading logic and zip URL generation in python3-streams
  automatic/python3-streams/update.ps1
Owners: @chocolatey-community/chocolatey-team-maintainers

Older cases must be handled differently
  automatic/python3-streams/update.ps1
Owners: @chocolatey-community/chocolatey-team-maintainers

AU: 5 updated - blender Firefox nodejs nodejs.install voicebot [skip ci]
  automatic/blender/blender.nuspec
  automatic/blender/tools/chocolateyInstall.ps1
  automatic/firefox/README.md
  automatic/firefox/firefox.json
  automatic/firefox/firefox.nuspec
  automatic/firefox/tools/LanguageChecksums.csv
  automatic/firefox/tools/chocolateyInstall.ps1
  automatic/firefox/tools/chocolateyUninstall.ps1
  automatic/nodejs.install/legal/VERIFICATION.txt
  automatic/nodejs.install/nodejs.install.json
  automatic/nodejs.install/nodejs.install.nuspec
  automatic/nodejs.install/tools/chocolateyInstall.ps1
  automatic/nodejs/nodejs.json
  automatic/nodejs/nodejs.nuspec
  automatic/voicebot/tools/chocolateyInstall.ps1
  automatic/voicebot/voicebot.nuspec
Owners: none

AU: 7 updated - clipboardfusion displayfusion dropbox GoogleChrome kubernetes-cli logfusion vim [skip ci]
  automatic/clipboardfusion/clipboardfusion.json
  automatic/clipboardfusion/clipboardfusion.nuspec
  automatic/clipboardfusion/legal/VERIFICATION.txt
  automatic/clipboardfusion/tools/chocolateyInstall.ps1
  automatic/displayfusion/displayfusion.json
  automatic/displayfusion/displayfusion.nuspec
  automatic/displayfusion/legal/VERIFICATION.txt
  automatic/displayfusion/tools/chocolateyInstall.ps1
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/googlechrome/googlechrome.nuspec
  automatic/googlechrome/tools/chocolateyInstall.ps1
  automatic/kubernetes-cli/kubernetes-cli.json
  automatic/kubernetes-cli/kubernetes-cli.nuspec
  automatic/kubernetes-cli/legal/VERIFICATION.txt
  automatic/logfusion/logfusion.nuspec
  automatic/logfusion/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 2 updated - chromium openshift-cli [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/openshift-cli/legal/VERIFICATION.txt
  automatic/openshift-cli/openshift-cli.nuspec
Owners: none

(maint) Update Validation Extenson to 0.2.0
  .appveyor.yml
Owners: none

AU: 5 updated - ccleaner curl kubescape vscode-insiders vscode-insiders.install [skip ci]
  automatic/ccleaner/ccleaner.nuspec
  automatic/ccleaner/tools/chocolateyInstall.ps1
  automatic/curl/curl.nuspec
  automatic/curl/legal/VERIFICATION.txt
  automatic/curl/tools/chocolateyInstall.ps1
  automatic/kubescape/kubescape.nuspec
  automatic/kubescape/legal/VERIFICATION.txt
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @HollowMan6

AU: 3 updated - brave chromium thunderbird [skip ci]
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/thunderbird/thunderbird.nuspec
  automatic/thunderbird/tools/LanguageChecksums.csv
  automatic/thunderbird/tools/chocolateyInstall.ps1
Owners: @AdmiringWorm

AU: 8 updated - chromium kubernetes-cli musescore selenium-chromium-edge-driver vscode vscode.install vscode-insiders vscode-insiders.install [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/kubernetes-cli/kubernetes-cli.json
  automatic/kubernetes-cli/kubernetes-cli.nuspec
  automatic/kubernetes-cli/legal/VERIFICATION.txt
  automatic/musescore/legal/VERIFICATION.txt
  automatic/musescore/musescore.nuspec
  automatic/musescore/tools/chocolateyInstall.ps1
  automatic/selenium-chromium-edge-driver/selenium-chromium-edge-driver.nuspec
  automatic/selenium-chromium-edge-driver/tools/chocolateyinstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
  automatic/vscode.install/tools/ChocolateyInstall.ps1
  automatic/vscode.install/vscode.install.nuspec
  automatic/vscode/vscode.nuspec
Owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm

AU: 1 updated - displayfusion [skip ci]
  automatic/displayfusion/displayfusion.json
  automatic/displayfusion/displayfusion.nuspec
  automatic/displayfusion/legal/VERIFICATION.txt
  automatic/displayfusion/tools/chocolateyInstall.ps1
Owners: none

AU: 5 updated - audacity brave chromium vscode-insiders vscode-insiders.install [skip ci]
  automatic/audacity/audacity.nuspec
  automatic/audacity/legal/VERIFICATION.txt
  automatic/audacity/tools/chocolateyInstall.ps1
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

(vlc) Dont embed useless files
  automatic/vlc/vlc.nuspec
Owners: none

(mattermost-desktop) Add silentArg ALLUSERS=1
  automatic/mattermost-desktop/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - dropbox FirefoxESR kubernetes-kompose [skip ci]
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/firefox/README.md
  automatic/firefox/firefox.json
  automatic/firefox/firefox.nuspec
  automatic/firefox/tools/LanguageChecksums.csv
  automatic/firefox/tools/chocolateyInstall.ps1
  automatic/firefox/tools/chocolateyUninstall.ps1
  automatic/kubernetes-kompose/kubernetes-kompose.nuspec
  automatic/kubernetes-kompose/legal/VERIFICATION.txt
Owners: none

AU: 6 updated - 1password 1password8 chromium displayfusion selenium-chromium-edge-driver vim [skip ci]
  automatic/1password/1password.json
  automatic/1password/1password.nuspec
  automatic/1password8/1password8.nuspec
  automatic/1password8/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/displayfusion/displayfusion.json
  automatic/displayfusion/displayfusion.nuspec
  automatic/displayfusion/legal/VERIFICATION.txt
  automatic/displayfusion/tools/chocolateyInstall.ps1
  automatic/selenium-chromium-edge-driver/selenium-chromium-edge-driver.nuspec
  automatic/selenium-chromium-edge-driver/tools/chocolateyinstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - vscode-insiders vscode-insiders.install yo [skip ci]
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
  automatic/yo/tools/chocolateyInstall.ps1
  automatic/yo/yo.nuspec
Owners: none

AU: 3 updated - chromium octave.portable vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/octave.portable/legal/VERIFICATION.txt
  automatic/octave.portable/octave.portable.nuspec
  automatic/octave.portable/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: @dgalbraith

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/python3-streams     @chocolatey-community/chocolatey-team-maintainers @Jackenmen
*/python*             @chocolatey-community/chocolatey-team-maintainers
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @chocolatey-community/chocolatey-team-maintainers
*/waterfox*           @AdmiringWorm
*/composer*           @johnstevenson
*/k9s*                @danielkoek
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/selenium-gecko-driver* @hansnull @chocolatey-community/chocolatey-team-maintainers
*/es*                 @TheCakeIsNaOH
*/selenium-chrome-driver* @chocolatey-community/chocolatey-team-maintainers
*/intunewinapputil*   @chocolatey-community/chocolatey-team-maintainers
*/selenium-chromium-edge-driver* @chocolatey-community/chocolatey-team-maintainers @AdmiringWorm
*/jenkins*            @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/brave*              @AdmiringWorm
*/nexus-repository*   @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/totalcommander*     @pauby
*/kubescape*          @HollowMan6
*/googlechromebeta*   @tunisiano187
*/krita*              @tunisiano187
*/selenium.powershell* @chocolatey-community/chocolatey-team-maintainers

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes

extensions/chocolatey-azuredatastudio.extension/*      @pascalberger
extensions/chocolatey-vscode.extension/*               @pascalberger
