Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm, @gep13, @moebius87, @johnstevenson, @jetersen, @VuiMuich, @dgalbraith, @majkinetor, @jeterson

AU: 6 updated - brave chromium ffmpeg ffmpeg-full vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/b00a1bea5a1ac38c80a539552e9d4969c2e6966a
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/ffmpeg-full/ffmpeg-full.nuspec
  automatic/ffmpeg-full/legal/VERIFICATION.txt
  automatic/ffmpeg/ffmpeg.nuspec
  automatic/ffmpeg/legal/VERIFICATION.txt
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm, @VuiMuich

AU: 2 updated - seafile-client smartftp [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/c196417e3c4d18fc33cb94549873626ca8a6f059
  automatic/seafile-client/Readme.md
  automatic/seafile-client/legal/VERIFICATION.txt
  automatic/seafile-client/seafile-client.nuspec
  automatic/seafile-client/tools/chocolateyInstall.ps1
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
Owners: none

AU: 4 updated - datagrip prey vscode vscode.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/f3ad82c7f77746dcf63c334ec60768896f5897f8
  automatic/datagrip/datagrip.nuspec
  automatic/datagrip/tools/ChocolateyInstall.ps1
  automatic/prey/legal/VERIFICATION.txt
  automatic/prey/prey.json
  automatic/prey/prey.nuspec
  automatic/prey/tools/chocolateyInstall.ps1
  automatic/vscode.install/tools/ChocolateyInstall.ps1
  automatic/vscode.install/vscode.install.nuspec
  automatic/vscode/vscode.nuspec
Owners: none

AU: 3 updated - nodejs nodejs.install vim [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/57ee9f43d0d2c64c96e478f553bcc38fe9ca389b
  automatic/nodejs.install/legal/VERIFICATION.txt
  automatic/nodejs.install/nodejs.install.json
  automatic/nodejs.install/nodejs.install.nuspec
  automatic/nodejs.install/tools/chocolateyInstall.ps1
  automatic/nodejs/nodejs.json
  automatic/nodejs/nodejs.nuspec
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 3 updated - chromium dropbox smartftp [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/6ad55f324eacad48f877ba86ffb94d33187033a4
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
Owners: none

(#1791) Remove whitespace between list items
  automatic/brave/README-beta.md
  automatic/brave/README-release.md
Owners: @AdmiringWorm

(#1795) Remove whitespace between list items
  automatic/blender/Readme.md
Owners: none

(doc) Clarify where to raise issues / questions
  automatic/peazip/Readme.md
Owners: none

AU: 4 updated - chromium juju vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/a9b980ead7dae88f9db4758e4a6af9a189e3d661
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/juju/juju.json
  automatic/juju/juju.nuspec
  automatic/juju/legal/VERIFICATION.txt
  automatic/juju/tools/chocolateyinstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

AU: 1 updated - tor-browser [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/6228bd6248a6ca571713085f5ac798c0b406eeb4
  automatic/tor-browser/tools/LanguageChecksums.csv
  automatic/tor-browser/tor-browser.nuspec
Owners: none

AU: 1 updated - brave [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/4691076d1c6fb7b1531909924c1e6a5fb2593e98
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
Owners: @AdmiringWorm

(notepadplusplus.install) Stop application if it is running
  automatic/notepadplusplus.install/tools/chocolateyBeforeModify.ps1
  automatic/notepadplusplus.install/tools/chocolateyInstall.ps1
  automatic/notepadplusplus.install/tools/chocolateyUninstall.ps1
Owners: none

(notepadplusplus.commandline) Stop process during upgrade/uninstall
  automatic/notepadplusplus.commandline/README.md
  automatic/notepadplusplus.commandline/notepadplusplus.commandline.nuspec
  automatic/notepadplusplus.commandline/tools/chocolateyInstall.ps1
  automatic/notepadplusplus.install/README.md
Owners: none

(ffmpeg) Add retry logic when renaming directory
  automatic/ffmpeg/tools/chocolateyInstall.ps1
  automatic/ffmpeg/update.ps1
Owners: none

(ffmpeg) Update install script to use exact path
  automatic/ffmpeg/tools/chocolateyInstall.ps1
  automatic/ffmpeg/update.ps1
Owners: none

(ffmpeg-full) Update package to be in line with ffmpeg logic
  automatic/ffmpeg-full/update.ps1
Owners: @VuiMuich

AU: 2 updated - ffmpeg ffmpeg-full [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/4351ed7568e8b165275e1e5f356ec022430f5cc0
  automatic/ffmpeg-full/ffmpeg-full.nuspec
  automatic/ffmpeg-full/tools/chocolateyInstall.ps1
  automatic/ffmpeg/ffmpeg.nuspec
Owners: @VuiMuich

(cygwin) Formatting and whitespace update
  automatic/cygwin/tools/chocolateyInstall.ps1
  automatic/cygwin/tools/chocolateyUninstall.ps1
  automatic/cygwin/update.ps1
Owners: none

(cygwin) Quote variables passed to executable
  automatic/cygwin/tools/chocolateyInstall.ps1
Owners: none

(cygwin) Remove unused setup file
  automatic/cygwin/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - Cygwin [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/3060d0ffcbc053ab12faa4a54ca5787addc23e6c
  automatic/cygwin/cygwin.nuspec
  automatic/cygwin/legal/VERIFICATION.txt
Owners: none

(autoit.install) Fix installer now inside an archive
  automatic/autoit.install/tools/chocolateyInstall.ps1
  automatic/autoit.install/update.ps1
Owners: none

(autoit.install) Whitespace and format fix
  automatic/autoit.install/update.ps1
Owners: none

AU: 3 updated - autoit autoit.install filezilla [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/4e43b37bf2ba5e526cd64ac17f3fa97619be7d2d
  automatic/autoit.install/README.md
  automatic/autoit.install/autoit.install.nuspec
  automatic/autoit.install/tools/VERIFICATION.txt
  automatic/autoit.install/tools/chocolateyInstall.ps1
  automatic/filezilla/filezilla.nuspec
  automatic/filezilla/legal/VERIFICATION.txt
Owners: none

(keyfinder) Disable updating of package
  automatic/keyfinder/_update.ps1
Owners: none

Readme Bold for Notice
  automatic/freecad/README.md
Owners: none

Cleanup and Update
  automatic/freecad/update_helper.ps1
Owners: none

Replaced the Notes
  automatic/freecad/README.md
Owners: none

Image referenced the old name of repo
  automatic/freecad/README.md
Owners: none

AU: 2 updated - mkdocs-material vim [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/5ec591af0ee4aa9a0f183b75952c1df8657cdf12
  automatic/mkdocs-material/mkdocs-material.nuspec
  automatic/mkdocs-material/tools/ChocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - smartftp [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/701931a652c2e8925598c8de040ef4348c4e83c5
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - vim [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/e7963ae4ba2cd64e656022bcbe8fed9475a5973b
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - mkvtoolnix [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/991d051bf67abfdea0f9b5346c7735bd20a95d02
  automatic/mkvtoolnix/legal/VERIFICATION.txt
  automatic/mkvtoolnix/mkvtoolnix.nuspec
  automatic/mkvtoolnix/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - vim [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/ed8673216379f5ee891bcb6fdaeefb3ef858469e
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - poweriso [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/45314d0eede26c3951745519c0ccfa7b53f675a0
  automatic/poweriso/poweriso.nuspec
  automatic/poweriso/tools/chocolateyInstall.ps1
Owners: @gep13

AU: 5 updated - ccleaner chromium vscode-insiders vscode-insiders.install waterfox-classic [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/34ad81cd42cb0893494a0d42feba4d688c3b85aa
  automatic/ccleaner/ccleaner.nuspec
  automatic/ccleaner/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
  automatic/waterfox/Readme.md
  automatic/waterfox/legal/VERIFICATION.txt
  automatic/waterfox/tools/chocolateyInstall.ps1
  automatic/waterfox/waterfox.json
  automatic/waterfox/waterfox.nuspec
Owners: @AdmiringWorm

AU: 2 updated - prey webstorm [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/db418a07acefa5fd89b7428e2edf323728aea7f5
  automatic/prey/legal/VERIFICATION.txt
  automatic/prey/prey.json
  automatic/prey/prey.nuspec
  automatic/prey/tools/chocolateyInstall.ps1
  automatic/webstorm/tools/ChocolateyInstall.ps1
  automatic/webstorm/webstorm.nuspec
Owners: none

AU: 4 updated - chromium GoogleChrome smartftp vim [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/0c66de8986c0b221822120d432efd018a59f381c
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/googlechrome/googlechrome.nuspec
  automatic/googlechrome/tools/chocolateyInstall.ps1
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

(doc) Clarify where to raise issues / questions
  automatic/gimp/README.md
Owners: none

(freecad) Fix software name used when searching
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/freecad/tools/chocolateyUninstall.ps1
Owners: none

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/brave*              @AdmiringWorm
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @AdmiringWorm
*/waterfox*           @AdmiringWorm
*/k9s*                @moebius87
*/composer*           @johnstevenson
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/thunderbird*        @majkinetor @gep13
*/git.portable*       @jeterson

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes
