Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @Jackenmen, @gep13, @AdmiringWorm, @johnstevenson, @danielkoek, @jetersen, @VuiMuich, @dgalbraith, @hansnull, @TheCakeIsNaOH, @chocolatey-community/chocolatey-community-solutions, @pauby, @HollowMan6, @tunisiano187, @pascalberger

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/python3-streams     @chocolatey-community/chocolatey-team-maintainers @Jackenmen
*/python*             @chocolatey-community/chocolatey-team-maintainers
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @chocolatey-community/chocolatey-team-maintainers
*/waterfox*           @AdmiringWorm
*/composer*           @johnstevenson
*/k9s*                @danielkoek
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/selenium-gecko-driver* @hansnull @chocolatey-community/chocolatey-team-maintainers
*/es*                 @TheCakeIsNaOH
*/selenium-chrome-driver* @chocolatey-community/chocolatey-team-maintainers
*/intunewinapputil*   @chocolatey-community/chocolatey-team-maintainers
*/selenium-chromium-edge-driver* @chocolatey-community/chocolatey-team-maintainers @AdmiringWorm
*/jenkins*            @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/brave*              @AdmiringWorm
*/nexus-repository*   @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/totalcommander*     @pauby
*/kubescape*          @HollowMan6
*/googlechromebeta*   @tunisiano187
*/krita*              @tunisiano187
*/selenium.powershell* @chocolatey-community/chocolatey-team-maintainers

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes

extensions/chocolatey-azuredatastudio.extension/*      @pascalberger
extensions/chocolatey-vscode.extension/*               @pascalberger

(maint) Added Chocolatey CLI 2.4.0 option
  .github/ISSUE_TEMPLATE/bug-report.yml
Owners: none

(maint) Update chocolatey CLI version in .appveyor.yml
  .appveyor.yml
Owners: none

AU: 5 updated - azcopy10 brave bulk-crap-uninstaller chromium tor-browser [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/21825318c2b51e51a67ca75ed2175b2b48d2fc43
  automatic/azcopy10/azcopy10.nuspec
  automatic/azcopy10/tools/chocolateyInstall.ps1
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/bulk-crap-uninstaller/bulk-crap-uninstaller.nuspec
  automatic/bulk-crap-uninstaller/legal/VERIFICATION.txt
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/tor-browser/tools/chocolateyInstall.ps1
  automatic/tor-browser/tor-browser.nuspec
Owners: @AdmiringWorm

AU: 5 updated - brave chromium spotify vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/29e3a5b8370d5324240d6542d19eb14cd82298c5
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/spotify/info
  automatic/spotify/spotify.nuspec
  automatic/spotify/tools/ChocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

Update python.json 3.13
  automatic/python/python.json
Owners: @chocolatey-community/chocolatey-team-maintainers

AU: 1 updated - datagrip [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/36433bcc69613635f374b0c6b10085db021f934b
  automatic/datagrip/datagrip.nuspec
  automatic/datagrip/tools/ChocolateyInstall.ps1
Owners: none

AU: 1 updated - seafile-client [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/5ba269b6260cef2b482314d877a841bb10e56d3c
  automatic/seafile-client/legal/VERIFICATION.txt
  automatic/seafile-client/seafile-client.nuspec
  automatic/seafile-client/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/a1adfbc566d696fd97abb742e804386a90b2f9af
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - mattermost-desktop [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/f0edc91906748848540f39cf20557bb1eb6bfdc5
  automatic/mattermost-desktop/legal/VERIFICATION.txt
  automatic/mattermost-desktop/mattermost-desktop.nuspec
  automatic/mattermost-desktop/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium mixxx [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/e0f9f04eef603606cf36e19c85c2347f3317ee7d
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - mixxx msys2 [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/ce9e6e7cca77b43e66bdf77c479554ef8c96d0d3
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/msys2/legal/VERIFICATION.txt
  automatic/msys2/msys2.nuspec
Owners: none

AU: 2 updated - chromium k9s [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/1657c431f8e39b3975f78560e7cafd02adfac55c
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/k9s/k9s.nuspec
  automatic/k9s/legal/VERIFICATION.txt
Owners: @danielkoek

(inkscape) drop 32 bit support
  automatic/inkscape/tools/chocolateyInstall.ps1
  automatic/inkscape/update.ps1
Owners: none

(mkvtoolnix) fix AU script
  automatic/mkvtoolnix/update.ps1
Owners: none

(virtualbox) fix au script
  automatic/virtualbox/update.ps1
Owners: none

(python3-streams) fix AU script
  automatic/python3-streams/update.ps1
Owners: @chocolatey-community/chocolatey-team-maintainers

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/74df303c6317631e4ab5185ce1de4598d6dc7af7
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/12f95a17fd2bfbf02860c9c872259fb1a5ed890c
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

(filezilla) fix AU update script
  automatic/filezilla/update.ps1
Owners: none

AU: 1 updated - mixxx [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/cbff1c79ebb20511fb73ef75a9b8245f7d85e52c
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: none

Create .gitconfig
  .gitconfig
Owners: none

Delete .gitconfig
  .gitconfig
Owners: none

AU: 1 updated - mixxx [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/63950b531771b8ac9785269697ecf71d1d73b64e
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium freecad vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/25dd09976d97d6b88ed51e9a1153d4b6e5fff92c
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 4 updated - brave chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/616caaef605a49a9e459c21b46a68628572cb085
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

AU: 4 updated - blender GoogleChrome kubescape php [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/4d8feca6e23b3edb8bd9b8e1c78cc3c34eecde32
  automatic/blender/blender.nuspec
  automatic/blender/tools/chocolateyInstall.ps1
  automatic/googlechrome/googlechrome.nuspec
  automatic/googlechrome/tools/chocolateyInstall.ps1
  automatic/kubescape/kubescape.nuspec
  automatic/kubescape/legal/VERIFICATION.txt
  automatic/php/legal/VERIFICATION.txt
  automatic/php/php.json
  automatic/php/php.nuspec
  automatic/php/tools/chocolateyInstall.ps1
Owners: @HollowMan6

AU: 4 updated - chromium mixxx thunderbird vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/f2fac63b9b4129a00680fb9a628651216e11a34a
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/thunderbird/thunderbird.nuspec
  automatic/thunderbird/tools/LanguageChecksums.csv
  automatic/thunderbird/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/131a1513c67aaa320e5f4d697b611e4ecbfdbdda
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 5 updated - brave chromium nodejs nodejs.install skype [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/0cf704ecb19666b19690c6d179cc857566df6de5
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/nodejs.install/legal/VERIFICATION.txt
  automatic/nodejs.install/nodejs.install.json
  automatic/nodejs.install/nodejs.install.nuspec
  automatic/nodejs.install/tools/chocolateyInstall.ps1
  automatic/nodejs/nodejs.json
  automatic/nodejs/nodejs.nuspec
  automatic/skype/skype.nuspec
  automatic/skype/tools/chocolateyInstall.ps1
Owners: @AdmiringWorm

AU: 5 updated - chromium kubernetes-cli mattermost-desktop nodejs nodejs.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/36e2d3dc33e4a9c63c32343643ff54f90d0bf4a2
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/kubernetes-cli/kubernetes-cli.json
  automatic/kubernetes-cli/kubernetes-cli.nuspec
  automatic/kubernetes-cli/legal/VERIFICATION.txt
  automatic/mattermost-desktop/legal/VERIFICATION.txt
  automatic/mattermost-desktop/mattermost-desktop.nuspec
  automatic/mattermost-desktop/tools/chocolateyInstall.ps1
  automatic/nodejs.install/legal/VERIFICATION.txt
  automatic/nodejs.install/nodejs.install.json
  automatic/nodejs.install/nodejs.install.nuspec
  automatic/nodejs.install/tools/chocolateyInstall.ps1
  automatic/nodejs/nodejs.json
  automatic/nodejs/nodejs.nuspec
Owners: none

AU: 4 updated - git-lfs git-lfs.install gom-player kubernetes-cli [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/9a34f358ded4468a4f949f1bf46e69ff02d29011
  automatic/git-lfs.install/git-lfs.install.nuspec
  automatic/git-lfs.install/legal/VERIFICATION.txt
  automatic/git-lfs.install/tools/chocolateyInstall.ps1
  automatic/git-lfs/git-lfs.nuspec
  automatic/gom-player/gom-player.nuspec
  automatic/gom-player/tools/chocolateyinstall.ps1
  automatic/kubernetes-cli/kubernetes-cli.json
  automatic/kubernetes-cli/kubernetes-cli.nuspec
  automatic/kubernetes-cli/legal/VERIFICATION.txt
Owners: @AdmiringWorm

AU: 5 updated - brave chromium spotify vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/eac12d61d3f610446807caf0eb0375b2b29057a4
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/spotify/info
  automatic/spotify/spotify.nuspec
  automatic/spotify/tools/ChocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

AU: 2 updated - Opera prey [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/5e4b2518f1410ef1af8bde47221361d07e617eb7
  automatic/opera/opera.nuspec
  automatic/opera/tools/chocolateyInstall.ps1
  automatic/prey/legal/VERIFICATION.txt
  automatic/prey/prey.json
  automatic/prey/prey.nuspec
  automatic/prey/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium selenium-chromium-edge-driver [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/2c3644caa9b6fbb4b1d6274257729ce5eddab5f1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/selenium-chromium-edge-driver/selenium-chromium-edge-driver.nuspec
  automatic/selenium-chromium-edge-driver/tools/chocolateyinstall.ps1
Owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm

fix(freecad): update release name regex
  automatic/freecad/update_helper.ps1
Owners: none

AU: 4 updated - prey typescript vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/6798e328635eb9c8367c803db2c322b9f99b308d
  automatic/prey/legal/VERIFICATION.txt
  automatic/prey/prey.json
  automatic/prey/prey.nuspec
  automatic/prey/tools/chocolateyInstall.ps1
  automatic/typescript/tools/chocolateyInstall.ps1
  automatic/typescript/typescript.nuspec
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 2 updated - chromium sourcetree [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/ecedee073c97d98ca767f9d4f1fa912b09a62823
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/sourcetree/sourcetree.nuspec
  automatic/sourcetree/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/fbf4f023ca9f4162c17e733bdd76176c8d6d0cec
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/09017f8bc5b5d3400a1880836fead4c2f9a76052
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/d0295bfd707a7e85de7a515d8d9c672504d79565
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none
