Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @Jackenmen, @gep13, @AdmiringWorm, @johnstevenson, @danielkoek, @jetersen, @VuiMuich, @dgalbraith, @hansnull, @TheCakeIsNaOH, @chocolatey-community/chocolatey-community-solutions, @pauby, @HollowMan6, @tunisiano187, @pascalberger

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/python3-streams     @chocolatey-community/chocolatey-team-maintainers @Jackenmen
*/python*             @chocolatey-community/chocolatey-team-maintainers
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @chocolatey-community/chocolatey-team-maintainers
*/waterfox*           @AdmiringWorm
*/composer*           @johnstevenson
*/k9s*                @danielkoek
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/selenium-gecko-driver* @hansnull @chocolatey-community/chocolatey-team-maintainers
*/es*                 @TheCakeIsNaOH
*/selenium-chrome-driver* @chocolatey-community/chocolatey-team-maintainers
*/intunewinapputil*   @chocolatey-community/chocolatey-team-maintainers
*/selenium-chromium-edge-driver* @chocolatey-community/chocolatey-team-maintainers @AdmiringWorm
*/jenkins*            @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/brave*              @AdmiringWorm
*/nexus-repository*   @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/totalcommander*     @pauby
*/kubescape*          @HollowMan6
*/googlechromebeta*   @tunisiano187
*/krita*              @tunisiano187
*/selenium.powershell* @chocolatey-community/chocolatey-team-maintainers

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes

extensions/chocolatey-azuredatastudio.extension/*      @pascalberger
extensions/chocolatey-vscode.extension/*               @pascalberger

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium gnucash vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/gnucash/gnucash.json
  automatic/gnucash/gnucash.nuspec
  automatic/gnucash/legal/VERIFICATION.txt
  automatic/gnucash/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

Update Python documentation download logic and adjust version check for minor version
  automatic/python3-streams/update.ps1
Owners: @chocolatey-community/chocolatey-team-maintainers

AU: 2 updated - vscode-insiders vscode-insiders.install [skip ci]
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 3 updated - skype sysinternals tribler [skip ci]
  automatic/skype/skype.nuspec
  automatic/skype/tools/chocolateyInstall.ps1
  automatic/sysinternals/sysinternals.nuspec
  automatic/sysinternals/tools/chocolateyInstall.ps1
  automatic/tribler/tools/chocolateyInstall.ps1
  automatic/tribler/tribler.nuspec
Owners: none

AU: 1 updated - vim [skip ci]
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - youtube-dl [skip ci]
  automatic/youtube-dl/legal/VERIFICATION.txt
  automatic/youtube-dl/youtube-dl.nuspec
Owners: none

fix: update version extraction method in alldup update script
  automatic/alldup/update.ps1
Owners: none

Include FileName and FileType in the returned object
  automatic/ant-renamer/update.ps1
Owners: none

Update AutoHotkey installation scripts to use GitHub API for version retrieval
  automatic/autohotkey.install/update.ps1
  automatic/autohotkey.portable/update.ps1
Owners: none

Refactor azcopy update script to handle URL redirection in PowerShell Core
  automatic/azcopy10/update.ps1
Owners: none

Update Brackets update script to use GitHub API for releases
  automatic/brackets/update.ps1
Owners: none

Fix version extraction in calibre update script to correctly parse version number
  automatic/calibre/update.ps1
Owners: @gep13, @AdmiringWorm

Update Clementine update script to fetch releases from GitHub API and handle pre-release versions
  automatic/clementine/update.ps1
Owners: none

Allow insecure redirects in download request for latest releases
  automatic/codeblocks/update.ps1
Owners: none

fix: add trailing slash to Code::Blocks releases URL
  automatic/codeblocks/update.ps1
Owners: none

AU: 4 updated - brave chromium vscode-insiders vscode-insiders.install [skip ci]
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

Fix version extraction in Cygwin update script to remove HTML tags
  automatic/cygwin/update.ps1
Owners: none

Remove redundant URL redirection function from azcopy update script
  automatic/azcopy10/update.ps1
Owners: none

AU: 4 updated - blender dropbox mattermost-desktop php [skip ci]
  automatic/blender/blender.nuspec
  automatic/blender/tools/chocolateyInstall.ps1
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/mattermost-desktop/legal/VERIFICATION.txt
  automatic/mattermost-desktop/mattermost-desktop.nuspec
  automatic/mattermost-desktop/tools/chocolateyInstall.ps1
  automatic/php/legal/VERIFICATION.txt
  automatic/php/php.json
  automatic/php/php.nuspec
  automatic/php/tools/chocolateyInstall.ps1
Owners: none

AU: 5 updated - chromium dropbox php qbittorrent vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/php/legal/VERIFICATION.txt
  automatic/php/php.json
  automatic/php/php.nuspec
  automatic/php/tools/chocolateyInstall.ps1
  automatic/qbittorrent/qbittorrent.nuspec
  automatic/qbittorrent/tools/VERIFICATION.txt
  automatic/qbittorrent/tools/chocolateyinstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - openshift-cli [skip ci]
  automatic/openshift-cli/legal/VERIFICATION.txt
  automatic/openshift-cli/openshift-cli.nuspec
Owners: none
