Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @Jackenmen, @gep13, @AdmiringWorm, @johnstevenson, @danielkoek, @jetersen, @VuiMuich, @dgalbraith, @hansnull, @TheCakeIsNaOH, @chocolatey-community/chocolatey-community-solutions, @pauby, @HollowMan6, @tunisiano187, @pascalberger

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/0df592978850ec2981ff384b05401161f35db923
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - patch-my-pc vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/67f9d0504637ef6de9d5dc805218e70ef082985c
  automatic/patch-my-pc/patch-my-pc.nuspec
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

(vlc) Dont embed useless files
  automatic/vlc/vlc.nuspec
Owners: none

Add vcredist version for PHP 8.4
  automatic/php/update.ps1
Owners: none

AU: 5 updated - brave chromium vscode-insiders vscode-insiders.install zotero [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/d996ba19397e4efc2094b7c9d7e58b285fd4d06d
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
  automatic/zotero/legal/VERIFICATION.txt
  automatic/zotero/tools/chocolateyInstall.ps1
  automatic/zotero/zotero.nuspec
Owners: @AdmiringWorm

AU: 3 updated - chromium mixxx thunderbird [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/cc9d4d882a617873ef509b39f5f182cc9f3bacde
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/thunderbird/thunderbird.nuspec
  automatic/thunderbird/tools/LanguageChecksums.csv
  automatic/thunderbird/tools/chocolateyInstall.ps1
Owners: none

AU: 5 updated - chromium gpg4win mixxx vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/1aa00c3bbd0e699d55ee9f13681aff11e36b1bbf
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/gpg4win/gpg4win.nuspec
  automatic/gpg4win/legal/VERIFICATION.txt
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 3 updated - chromium jenkins Opera [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/b54dd04fb6109184c623ba5825d9ac9bed9369c7
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/jenkins/jenkins.nuspec
  automatic/jenkins/legal/VERIFICATION.txt
  automatic/opera/opera.nuspec
  automatic/opera/tools/chocolateyInstall.ps1
Owners: @chocolatey-community/chocolatey-team-maintainers, @chocolatey-community/chocolatey-community-solutions

AU: 6 updated - mixxx protoc putty putty.install putty.portable vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/86d3b11ebd838ca47b577d9646985248bdb22242
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/protoc/legal/VERIFICATION.txt
  automatic/protoc/protoc.nuspec
  automatic/protoc/tools/chocolateyinstall.ps1
  automatic/putty.install/legal/VERIFICATION.txt
  automatic/putty.install/putty.install.nuspec
  automatic/putty.install/tools/chocolateyInstall.ps1
  automatic/putty.portable/legal/VERIFICATION.txt
  automatic/putty.portable/putty.portable.nuspec
  automatic/putty/putty.nuspec
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 5 updated - brave chromium mixxx vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/9f39a0b5470fb70544006046ee781af3aab67493
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

AU: 1 updated - datagrip [skip ci]
  automatic/datagrip/datagrip.nuspec
  automatic/datagrip/tools/ChocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - calibre [skip ci]
  automatic/calibre/calibre.nuspec
  automatic/calibre/tools/chocolateyInstall.ps1
Owners: @gep13, @AdmiringWorm

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

(maint) Add issue and pr auto responses
  .github/workflows/respond-to-issue.yaml
  .github/workflows/respond-to-pr.yaml
Owners: none

(maint) Fix types used for comments
  .github/workflows/respond-to-issue.yaml
  .github/workflows/respond-to-pr.yaml
Owners: none

AU: 2 updated - FirefoxESR tribler [skip ci]
  automatic/firefox/README.md
  automatic/firefox/firefox.json
  automatic/firefox/firefox.nuspec
  automatic/firefox/tools/LanguageChecksums.csv
  automatic/firefox/tools/chocolateyInstall.ps1
  automatic/firefox/tools/chocolateyUninstall.ps1
  automatic/tribler/tools/chocolateyInstall.ps1
  automatic/tribler/tribler.nuspec
Owners: none

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 5 updated - 7zip 7zip.install 7zip.portable chromium mixxx [skip ci]
  automatic/7zip.install/7zip.install.json
  automatic/7zip.install/7zip.install.nuspec
  automatic/7zip.install/legal/VERIFICATION.txt
  automatic/7zip.portable/7zip.portable.json
  automatic/7zip.portable/7zip.portable.nuspec
  automatic/7zip.portable/legal/VERIFICATION.txt
  automatic/7zip/7zip.json
  automatic/7zip/7zip.nuspec
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium mixxx vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - mkdocs-material [skip ci]
  automatic/mkdocs-material/mkdocs-material.nuspec
  automatic/mkdocs-material/tools/ChocolateyInstall.ps1
Owners: none

AU: 1 updated - mixxx [skip ci]
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 4 updated - chromium notepadplusplus notepadplusplus.commandline notepadplusplus.install [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/notepadplusplus.commandline/legal/VERIFICATION.txt
  automatic/notepadplusplus.commandline/notepadplusplus.commandline.nuspec
  automatic/notepadplusplus.commandline/tools/chocolateyInstall.ps1
  automatic/notepadplusplus.install/legal/VERIFICATION.txt
  automatic/notepadplusplus.install/notepadplusplus.install.nuspec
  automatic/notepadplusplus.install/tools/chocolateyInstall.ps1
  automatic/notepadplusplus/notepadplusplus.nuspec
Owners: none

(cyg-get) Correct cyg root quoting
  manual/cyg-get/tools/cyg-get.ps1
Owners: none

(cyg-get) Update version number
  manual/cyg-get/cyg-get.nuspec
Owners: none

(docs) Update TOC
  COMMITTERS.md
Owners: none

AU: 2 updated - vscode-insiders vscode-insiders.install [skip ci]
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - mkvtoolnix [skip ci]
  automatic/mkvtoolnix/legal/VERIFICATION.txt
  automatic/mkvtoolnix/mkvtoolnix.nuspec
  automatic/mkvtoolnix/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - php [skip ci]
  automatic/php/legal/VERIFICATION.txt
  automatic/php/php.json
  automatic/php/php.nuspec
  automatic/php/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 2 updated - thunderbird wesnoth [skip ci]
  automatic/thunderbird/thunderbird.nuspec
  automatic/thunderbird/tools/LanguageChecksums.csv
  automatic/thunderbird/tools/chocolateyInstall.ps1
  automatic/wesnoth/tools/chocolateyInstall.ps1
  automatic/wesnoth/wesnoth.json
  automatic/wesnoth/wesnoth.nuspec
Owners: none

AU: 4 updated - brave chromium vscode-insiders vscode-insiders.install [skip ci]
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm

(maint) Update CLI version on PRs
  .appveyor.yml
Owners: none

Update automatic/vlc/vlc.nuspec
  automatic/vlc/vlc.nuspec
Owners: none

AU: 1 updated - GoogleChrome [skip ci]
  automatic/googlechrome/googlechrome.nuspec
  automatic/googlechrome/tools/chocolateyInstall.ps1
Owners: none

AU: 5 updated - chromium nodejs nodejs.install openshift-cli vim [skip ci]
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/nodejs.install/legal/VERIFICATION.txt
  automatic/nodejs.install/nodejs.install.json
  automatic/nodejs.install/nodejs.install.nuspec
  automatic/nodejs.install/tools/chocolateyInstall.ps1
  automatic/nodejs/nodejs.json
  automatic/nodejs/nodejs.nuspec
  automatic/openshift-cli/legal/VERIFICATION.txt
  automatic/openshift-cli/openshift-cli.nuspec
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/554fa85520fe68f9468d637eef4714d2f78c916a
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 3 updated - brave chromium protoc [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/599dccb67f394acdbdf1e5cb967aa10a2b44c1f5
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/protoc/legal/VERIFICATION.txt
  automatic/protoc/protoc.nuspec
  automatic/protoc/tools/chocolateyinstall.ps1
Owners: @AdmiringWorm

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/python3-streams     @chocolatey-community/chocolatey-team-maintainers @Jackenmen
*/python*             @chocolatey-community/chocolatey-team-maintainers
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @chocolatey-community/chocolatey-team-maintainers
*/waterfox*           @AdmiringWorm
*/composer*           @johnstevenson
*/k9s*                @danielkoek
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/selenium-gecko-driver* @hansnull @chocolatey-community/chocolatey-team-maintainers
*/es*                 @TheCakeIsNaOH
*/selenium-chrome-driver* @chocolatey-community/chocolatey-team-maintainers
*/intunewinapputil*   @chocolatey-community/chocolatey-team-maintainers
*/selenium-chromium-edge-driver* @chocolatey-community/chocolatey-team-maintainers @AdmiringWorm
*/jenkins*            @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/brave*              @AdmiringWorm
*/nexus-repository*   @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/totalcommander*     @pauby
*/kubescape*          @HollowMan6
*/googlechromebeta*   @tunisiano187
*/krita*              @tunisiano187
*/selenium.powershell* @chocolatey-community/chocolatey-team-maintainers

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes

extensions/chocolatey-azuredatastudio.extension/*      @pascalberger
extensions/chocolatey-vscode.extension/*               @pascalberger
