Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm, @gep13, @moebius87, @johnstevenson, @jetersen, @VuiMuich, @dgalbraith, @majkinetor, @jeterson

AU: 2 updated - gnupg spotify [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/657a74b15feea867f6d97e5c5f6e1073eb52cf3b
  automatic/gnupg/gnupg.nuspec
  automatic/gnupg/legal/VERIFICATION.txt
  automatic/gnupg/tools/chocolateyInstall.ps1
  automatic/spotify/info
  automatic/spotify/spotify.nuspec
  automatic/spotify/tools/ChocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/0a73f1f3d01735d43c820ec1329e704c6171a256
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 4 updated - brave notepadplusplus notepadplusplus.commandline notepadplusplus.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/f2d736a4e6822078fddefe72d8f894c6161bd994
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/notepadplusplus.commandline/notepadplusplus.commandline.nuspec
  automatic/notepadplusplus.commandline/tools/chocolateyInstall.ps1
  automatic/notepadplusplus.install/notepadplusplus.install.nuspec
  automatic/notepadplusplus/notepadplusplus.nuspec
Owners: @AdmiringWorm

AU: 3 updated - smartftp vim zotero [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/ca73654b0b2aa6ae6c0a8e720a09ce3788a43ea2
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
  automatic/zotero/legal/VERIFICATION.txt
  automatic/zotero/tools/chocolateyInstall.ps1
  automatic/zotero/zotero.nuspec
Owners: none

(vlc) Fix 32-bit install on 64-bit, 64-bit install on 32-bit platforms
  automatic/vlc.install/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - calibre protoc [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/4413b3b3b323d828c3ed5d96f0d41172b52c7d5e
  automatic/calibre/calibre.nuspec
  automatic/calibre/legal/VERIFICATION.txt
  automatic/calibre/tools/chocolateyInstall.ps1
  automatic/protoc/legal/VERIFICATION.txt
  automatic/protoc/protoc.nuspec
  automatic/protoc/tools/chocolateyinstall.ps1
Owners: @gep13, @AdmiringWorm

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/8fa1cbc4e72c07a7ee4af5149b55055baee5713b
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

(vlc) don't use globbing patterns in install script
  automatic/vlc.install/tools/chocolateyInstall.ps1
  automatic/vlc.install/update.ps1
Owners: none

AU: 1 updated - dropbox [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/edcfbb4563c4f013144e2ef0ffa780aeb6f53dee
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/ea2a476729f7f67321feea98e62dbe27dc9d8af2
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/85a5d94710939db9073ec7d31a7855eea2287c35
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - mp3tag vlc.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/cd65a2e9ef1b6c501d8e81468dd7ed227c4349bd
  automatic/mp3tag/legal/VERIFICATION.txt
  automatic/mp3tag/mp3tag.nuspec
  automatic/mp3tag/tools/ChocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/1558b7ad2c48d10af8041d783834a98822d99659
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - vim [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/1dffcf3ddd91e0ca00d4569b5596bba033ef5eb8
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/e90c3da9fdbbd4d751478a3cc9e82e51a45f36a0
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

(selenium-gecko-driver) Initial import of package
  automatic/selenium-gecko-driver/selenium-gecko-driver.nuspec
  automatic/selenium-gecko-driver/tools/chocolateyInstall.ps1
  automatic/selenium-gecko-driver/tools/chocolateyUninstall.ps1
  automatic/selenium-gecko-driver/tools/icon.ico
Owners: none

(selenium-gecko-driver) Convert to embedded package
  automatic/selenium-gecko-driver/README.md
  automatic/selenium-gecko-driver/legal/LICENSE.txt
  automatic/selenium-gecko-driver/legal/VERIFICATION.txt
  automatic/selenium-gecko-driver/selenium-gecko-driver.nuspec
  automatic/selenium-gecko-driver/tools/chocolateyInstall.ps1
  icons/selenium-gecko-driver.png
Owners: none

(selenium-gecko-driver) Correct encoding used for scripts
  automatic/selenium-gecko-driver/tools/chocolateyInstall.ps1
  automatic/selenium-gecko-driver/tools/chocolateyUninstall.ps1
Owners: none

(selenium-gecko-driver) Add AU script for updating package
  automatic/selenium-gecko-driver/update.ps1
Owners: none

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/brave*              @AdmiringWorm
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @AdmiringWorm
*/waterfox*           @AdmiringWorm
*/k9s*                @moebius87
*/composer*           @johnstevenson
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/thunderbird*        @majkinetor @gep13
*/git.portable*       @jeterson

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes
