Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm, @gep13, @moebius87, @johnstevenson, @jetersen, @VuiMuich, @dgalbraith, @majkinetor, @jeterson

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/brave*              @AdmiringWorm
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @AdmiringWorm
*/waterfox*           @AdmiringWorm
*/k9s*                @moebius87
*/composer*           @johnstevenson
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/thunderbird*        @majkinetor @gep13
*/git.portable*       @jeterson

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes

(freecad) Formatting fix
  automatic/freecad/update_helper.ps1
Owners: none

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/fc0372f7ca65ccfd433c108237523b1da626a0d8
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - freecad [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/df2e3095f64b99bacf51e210dcde06cc5676e47e
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/freecad/tools/chocolateyUninstall.ps1
Owners: none

AU: 1 updated - activepresenter [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/116c17859cfdb38ab5dc4fd8d0638dd185d7beff
  automatic/activepresenter/activepresenter.nuspec
  automatic/activepresenter/legal/VERIFICATION.txt
  automatic/activepresenter/tools/chocolateyInstall.ps1
Owners: none

Update helpers.ps1
  automatic/brave/tools/helpers.ps1
Owners: @AdmiringWorm

AU: 3 updated - chromium php vim [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/4d4834667dd7e6d9138b3c3968ad3b1f2ba490c2
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/php/legal/VERIFICATION.txt
  automatic/php/php.json
  automatic/php/php.nuspec
  automatic/php/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

(docs) Update TOC
  CONTRIBUTING.md
  README.md
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/a79f38ac82c7774c9660749c804b382022e7743c
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - mp3tag vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/4e46f1939fa88e4eef0e16ad0b2fbd8ee92d0926
  automatic/mp3tag/legal/VERIFICATION.txt
  automatic/mp3tag/mp3tag.nuspec
  automatic/mp3tag/tools/ChocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 3 updated - dropbox googlechromebeta php [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/2b9ab3c4af3ad0ff412910237e81f1935570bbc0
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/googlechromebeta/googlechromebeta.nuspec
  automatic/googlechromebeta/tools/chocolateyInstall.ps1
  automatic/php/legal/VERIFICATION.txt
  automatic/php/php.json
  automatic/php/php.nuspec
  automatic/php/tools/chocolateyInstall.ps1
Owners: none

(bleachbit.install) fix installer removal
  automatic/bleachbit.install/tools/chocolateyInstall.ps1
Owners: none

(doc) Update issue form with current Chocolatey CLI versions.
  .github/ISSUE_TEMPLATE/bug-report.yml
Owners: none

AU: 3 updated - chromium etcd vim [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/624218666600ad0bc12390893ef7fb286abb2aa6
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/etcd/etcd.json
  automatic/etcd/etcd.nuspec
  automatic/etcd/legal/VERIFICATION.txt
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: @dgalbraith

AU: 1 updated - freeciv [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/9c2b0b8c2ad1882f611c51b41b11924ce53dd827
  automatic/freeciv/freeciv.nuspec
  automatic/freeciv/tools/chocolateyInstall.ps1
Owners: none

AU: 5 updated - chromium php skype vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/9f2095f75e1e3ea143e190516aa27e4f8af30366
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/php/legal/VERIFICATION.txt
  automatic/php/php.json
  automatic/php/php.nuspec
  automatic/php/tools/chocolateyInstall.ps1
  automatic/skype/skype.nuspec
  automatic/skype/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - datagrip [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/1b1eff81ab72e99b0147afc1d0f646e0836db764
  automatic/datagrip/datagrip.nuspec
  automatic/datagrip/tools/ChocolateyInstall.ps1
Owners: none

AU: 5 updated - brave chromium GoogleChrome maxima vim [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/68dd1ee7e45e8f2ae468c318d771fc400f424ba0
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/googlechrome/googlechrome.nuspec
  automatic/googlechrome/tools/chocolateyInstall.ps1
  automatic/maxima/README.md
  automatic/maxima/maxima.nuspec
  automatic/maxima/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: @AdmiringWorm

AU: 2 updated - maxthon.commandline vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/f39c0ddbda988073bc80f07c9ea70f28b626cc68
  automatic/maxthon.commandline/maxthon.commandline.nuspec
  automatic/maxthon.commandline/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
Owners: none

AU: 6 updated - brave chromium git git.install git.portable vscode-insiders [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/f0e4d6cc3433c5b63716b6c1116bd8cfb0a548d0
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/git.install/git.install.nuspec
  automatic/git.install/legal/VERIFICATION.txt
  automatic/git.install/tools/chocolateyInstall.ps1
  automatic/git.portable/git.portable.nuspec
  automatic/git.portable/legal/VERIFICATION.txt
  automatic/git/git.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @AdmiringWorm, @jeterson

AU: 1 updated - dropbox [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/e0dab6256ece483fd628a5d6874eb834b2f8cb47
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
Owners: none

AU: 3 updated - chromium mpc-hc-clsid2 vim [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/d4bded32c9c1fb12be82d5880a894a4e8abe33ca
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mpc-hc-clsid2/legal/VERIFICATION.txt
  automatic/mpc-hc-clsid2/mpc-hc-clsid2.nuspec
  automatic/mpc-hc-clsid2/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/7bca05b3c01ac7683b14361c4dc4b0d7fec55281
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/169f96f0370af4bdf19b122eed3d00bfada83083
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - smartftp [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/b954161bce93509ba6c0797b9d6433f72a639119
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
Owners: none

Update update.ps1
  automatic/sourcetree/update.ps1
Owners: none

Update chocolateyInstall.ps1
  automatic/sourcetree/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium krita [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/72943d73faf69f57f6adf8afca4be221de5f2e72
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/krita/krita.nuspec
  automatic/krita/legal/VERIFICATION.txt
  automatic/krita/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/342cf7102a7fe920cdae4a213de2db637899db2c
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

(doc) Clarify where to raise issues / questions
  automatic/sourcetree/README.md
Owners: none

(doc) Fix typo
  automatic/brave/README-beta.md
Owners: @AdmiringWorm

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/f4460586786c1e17f82986ee55f337bf49f8e181
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 2 updated - chromium wesnoth [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/c8773ffb24c74b217e60f7a5e533ccc0fb49f607
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/wesnoth/tools/chocolateyInstall.ps1
  automatic/wesnoth/wesnoth.json
  automatic/wesnoth/wesnoth.nuspec
Owners: none

AU: 2 updated - chromium smartftp [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/29846a36b39dc889125254f7f5d878336fe609db
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - thunderbird vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/767ae996a88ec62d1d37be222df987a0d778f131
  automatic/thunderbird/thunderbird.nuspec
  automatic/thunderbird/tools/LanguageChecksums.csv
  automatic/thunderbird/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: @majkinetor, @gep13

AU: 1 updated - chromium [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/2f9ec9e1b759d07ad4d59102f71d7e98277f52ea
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 6 updated - git-lfs git-lfs.install ruby ruby.install ruby.portable virtualbox [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/a88447453ff11654ccfd9ecd7fd0a653d8c0b82d
  automatic/git-lfs.install/git-lfs.install.nuspec
  automatic/git-lfs.install/legal/VERIFICATION.txt
  automatic/git-lfs.install/tools/chocolateyInstall.ps1
  automatic/git-lfs/git-lfs.nuspec
  automatic/ruby.install/legal/VERIFICATION.txt
  automatic/ruby.install/ruby.install.json
  automatic/ruby.install/ruby.install.nuspec
  automatic/ruby.install/tools/chocolateyInstall.ps1
  automatic/ruby.portable/legal/VERIFICATION.txt
  automatic/ruby.portable/ruby.portable.json
  automatic/ruby.portable/ruby.portable.nuspec
  automatic/ruby.portable/tools/chocolateyInstall.ps1
  automatic/ruby/ruby.json
  automatic/ruby/ruby.nuspec
  automatic/virtualbox/tools/chocolateyInstall.ps1
  automatic/virtualbox/virtualbox.json
  automatic/virtualbox/virtualbox.nuspec
Owners: @chocolatey-community/chocolatey-team-maintainers

AU: 5 updated - git git.install git.portable Opera Waterfox [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/ee29d7a119e3b8f0343f1763b4c336c166818a41
  automatic/git.install/git.install.nuspec
  automatic/git.install/legal/VERIFICATION.txt
  automatic/git.install/tools/chocolateyInstall.ps1
  automatic/git.portable/git.portable.nuspec
  automatic/git.portable/legal/VERIFICATION.txt
  automatic/git/git.nuspec
  automatic/opera/opera.nuspec
  automatic/opera/tools/chocolateyInstall.ps1
  automatic/waterfox/legal/VERIFICATION.txt
  automatic/waterfox/waterfox.json
  automatic/waterfox/waterfox.nuspec
Owners: @jeterson, @AdmiringWorm

AU: 3 updated - chromium googlechromebeta kubernetes-cli [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/2b9e0c676ad246e0364976361c13b7d473578f91
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/googlechromebeta/googlechromebeta.nuspec
  automatic/googlechromebeta/tools/chocolateyInstall.ps1
  automatic/kubernetes-cli/kubernetes-cli.json
  automatic/kubernetes-cli/kubernetes-cli.nuspec
  automatic/kubernetes-cli/legal/VERIFICATION.txt
Owners: none

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/77acf0f1e7728c207e8b18dc5c4aeecef6597360
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - 360ts [skip ci] https://gist.github.com/a14b1e5bfaf70839b338eb1ab7f8226f/f0f40b050e75a65890bdecb12856f509142c8661
  automatic/360ts/360ts.json
  automatic/360ts/360ts.nuspec
  automatic/360ts/tools/chocolateyInstall.ps1
Owners: none
