Repository chocolatey-community/chocolatey-packages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chocolatey-community/chocolatey-team-maintainers, @Jackenmen, @gep13, @AdmiringWorm, @johnstevenson, @danielkoek, @jetersen, @VuiMuich, @dgalbraith, @hansnull, @TheCakeIsNaOH, @chocolatey-community/chocolatey-community-solutions, @pauby, @HollowMan6, @tunisiano187, @pascalberger

AU: 4 updated - azcopy10 chromium dropbox tortoisegit [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/5a8f21aa59f60223f10b859cc9d3fb224943924a
  automatic/azcopy10/azcopy10.nuspec
  automatic/azcopy10/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/tortoisegit/legal/VERIFICATION.txt
  automatic/tortoisegit/tools/chocolateyInstall.ps1
  automatic/tortoisegit/tortoisegit.nuspec
Owners: none

AU: 3 updated - brave chromium mkdocs-material [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/17b2fe372b9e36a5fd319db619c7da4193700c16
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mkdocs-material/mkdocs-material.nuspec
  automatic/mkdocs-material/tools/ChocolateyInstall.ps1
Owners: @AdmiringWorm

AU: 4 updated - selenium-chromium-edge-driver vim vscode vscode.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/d0bce39045fb023a9eff0e450aa3fead96d7d174
  automatic/selenium-chromium-edge-driver/selenium-chromium-edge-driver.nuspec
  automatic/selenium-chromium-edge-driver/tools/chocolateyinstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
  automatic/vscode.install/tools/ChocolateyInstall.ps1
  automatic/vscode.install/vscode.install.nuspec
  automatic/vscode/vscode.nuspec
Owners: @chocolatey-community/chocolatey-team-maintainers, @AdmiringWorm

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/cdfb7047186fb802c9691ae593fe17027fff3176
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 3 updated - chromium dropbox tortoisegit [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/8ef62e97a98b1294a050053c5fb9b70439f6f845
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/tortoisegit/legal/VERIFICATION.txt
  automatic/tortoisegit/tools/chocolateyInstall.ps1
  automatic/tortoisegit/tortoisegit.nuspec
Owners: none

AU: 2 updated - freecad vagrant [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/6320cff17f9676974ab6e227e7046aee4b4e18c1
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/vagrant/tools/chocolateyinstall.ps1
  automatic/vagrant/vagrant.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/c92947f29ed4acc92fa27b2665a0237cfa7e977b
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/1259d82d61d8b79ceb9b79dc1511047539bc0092
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/b74347b93471efe4f0ddf3b3e617f7f0cd0a894a
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - kubelogin [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/47505227f66f93bfaf1533ecefedabf7265dd7cd
  automatic/kubelogin/kubelogin.nuspec
  automatic/kubelogin/legal/VERIFICATION.txt
Owners: @jetersen

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/9964c0b9b3804f82c2a4775dfe0cc2311a1adc93
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - graphviz smartftp vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/fa8bcb88dc17ac05be35ebe06ad68ad480eca24b
  automatic/graphviz/graphviz.nuspec
  automatic/graphviz/legal/VERIFICATION.txt
  automatic/graphviz/tools/chocolateyInstall.ps1
  automatic/smartftp/smartftp.nuspec
  automatic/smartftp/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/8eb365988e9e70378561b12097581ed6000de27c
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 4 updated - clipboardfusion mixxx thunderbird vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/2861e98a6eeb21c28d2cc099ebb46eafc8c95ba0
  automatic/clipboardfusion/clipboardfusion.json
  automatic/clipboardfusion/clipboardfusion.nuspec
  automatic/clipboardfusion/legal/VERIFICATION.txt
  automatic/clipboardfusion/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/thunderbird/thunderbird.nuspec
  automatic/thunderbird/tools/LanguageChecksums.csv
  automatic/thunderbird/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/37d414e2ea2531b0478c5732299f9ede46719667
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 1 updated - GoogleChrome [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/1ba35f8a958b2cb8616863dee585951dda527260
  automatic/googlechrome/googlechrome.nuspec
  automatic/googlechrome/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium mkdocs-material openshift-cli [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/58f48aee73426dfbc3d15c1b4a50a7278cbf4f69
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mkdocs-material/mkdocs-material.nuspec
  automatic/mkdocs-material/tools/ChocolateyInstall.ps1
  automatic/openshift-cli/legal/VERIFICATION.txt
  automatic/openshift-cli/openshift-cli.nuspec
Owners: none

AU: 4 updated - chromium patch-my-pc vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/72b758cb59102196e472c7a343c2c4e0ee356fde
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/patch-my-pc/patch-my-pc.nuspec
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 2 updated - brave curl [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/57d36b51e72dbdacca462977ffab7c35bfb813e9
  automatic/brave/brave.json
  automatic/brave/brave.nuspec
  automatic/brave/legal/VERIFICATION.txt
  automatic/brave/tools/chocolateyInstall.ps1
  automatic/curl/curl.nuspec
  automatic/curl/legal/VERIFICATION.txt
  automatic/curl/tools/chocolateyInstall.ps1
Owners: @AdmiringWorm

AU: 5 updated - cmake cmake.install cmake.portable dropbox mp3tag [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/b2213f7fafb15979ca12f51b797604edcf52b4c1
  automatic/cmake.install/cmake.install.json
  automatic/cmake.install/cmake.install.nuspec
  automatic/cmake.install/legal/VERIFICATION.txt
  automatic/cmake.install/tools/chocolateyInstall.ps1
  automatic/cmake.portable/cmake.portable.json
  automatic/cmake.portable/cmake.portable.nuspec
  automatic/cmake.portable/legal/VERIFICATION.txt
  automatic/cmake.portable/tools/chocolateyInstall.ps1
  automatic/cmake/cmake.json
  automatic/cmake/cmake.nuspec
  automatic/dropbox/dropbox.json
  automatic/dropbox/dropbox.nuspec
  automatic/dropbox/tools/chocolateyinstall.ps1
  automatic/mp3tag/legal/VERIFICATION.txt
  automatic/mp3tag/mp3tag.nuspec
  automatic/mp3tag/tools/ChocolateyInstall.ps1
Owners: none

AU: 1 updated - calibre [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/d78382e56d924a1483d050a9cd12de779fff748c
  automatic/calibre/calibre.nuspec
  automatic/calibre/tools/chocolateyInstall.ps1
Owners: @gep13, @AdmiringWorm

(GH-2334) Stop relaunch as Admin
  automatic/notepadplusplus.commandline/tools/chocolateyInstall.ps1
  automatic/notepadplusplus.install/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/0c18e2de0682e9d8f188673ffadd57b56fbb2ebe
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

AU: 1 updated - mixxx [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/a19237b26728d9e49c357510998e5e388fcca6f9
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium mixxx [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/1c7e1cd97f00f4ff76b5b792486c1cd27b71a665
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - freecad gitextensions wesnoth [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/29fb76d71797050f8d560bf3d2fe860ad334690d
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/gitextensions/gitextensions.nuspec
  automatic/gitextensions/legal/VERIFICATION.txt
  automatic/gitextensions/tools/chocolateyInstall.ps1
  automatic/wesnoth/tools/chocolateyInstall.ps1
  automatic/wesnoth/wesnoth.json
  automatic/wesnoth/wesnoth.nuspec
Owners: none

AU: 5 updated - chromium mixxx ruby ruby.install ruby.portable [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/7d1a5e6cc7cfb0cdc2b8595e49459b2c626e0479
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/ruby.install/legal/VERIFICATION.txt
  automatic/ruby.install/ruby.install.json
  automatic/ruby.install/ruby.install.nuspec
  automatic/ruby.install/tools/chocolateyInstall.ps1
  automatic/ruby.portable/legal/VERIFICATION.txt
  automatic/ruby.portable/ruby.portable.json
  automatic/ruby.portable/ruby.portable.nuspec
  automatic/ruby.portable/tools/chocolateyInstall.ps1
  automatic/ruby/ruby.json
  automatic/ruby/ruby.nuspec
Owners: @chocolatey-community/chocolatey-team-maintainers

AU: 1 updated - mixxx [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/e5b9e9614feaa0e94222181c70615c6ba8b1f169
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: none

AU: 2 updated - chromium vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/3be9f37d4e3c844ddcfe2c5c3fe63cf58df91eca
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - chromium [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/4cd3211787af7e342846625f400f8d3109243107
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
Owners: none

AU: 3 updated - freecad k9s mixxx [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/f089110edd5ef7bddc6905635d14357fad4dbbcd
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/k9s/k9s.nuspec
  automatic/k9s/legal/VERIFICATION.txt
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
Owners: @danielkoek

AU: 4 updated - chromium freecad mixxx vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/d7ee115902b69009b9ed61ce5acfe8b2cc0d0e77
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/mixxx/legal/VERIFICATION.txt
  automatic/mixxx/mixxx.json
  automatic/mixxx/mixxx.nuspec
  automatic/mixxx/tools/chocolateyInstall.ps1
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 1 updated - seafile-client [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/9a812bf6fb95025e88dac04bdf8b2962b63790fa
  automatic/seafile-client/legal/VERIFICATION.txt
  automatic/seafile-client/seafile-client.nuspec
  automatic/seafile-client/tools/chocolateyInstall.ps1
Owners: none

(nodejs*) Update NodeJS updater to support v23
  automatic/nodejs.install/README.md
  automatic/nodejs.install/legal/VERIFICATION.full.txt
  automatic/nodejs.install/legal/VERIFICATION.x64.txt
  automatic/nodejs.install/tools/chocolateyInstall.ps1
  automatic/nodejs.install/update.ps1
  automatic/nodejs/README.md
Owners: none

AU: 2 updated - nodejs nodejs.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/143d49088c291c53af74004a515983ff927017f5
  automatic/nodejs.install/legal/VERIFICATION.txt
  automatic/nodejs.install/nodejs.install.json
  automatic/nodejs.install/nodejs.install.nuspec
  automatic/nodejs.install/tools/chocolateyInstall.ps1
  automatic/nodejs/nodejs.json
  automatic/nodejs/nodejs.nuspec
Owners: none

AU: 5 updated - chromium freecad nodejs nodejs.install vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/16d5a0c37f8bcd628cf49ebb7aa488c3747e8515
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/nodejs.install/legal/VERIFICATION.txt
  automatic/nodejs.install/nodejs.install.json
  automatic/nodejs.install/nodejs.install.nuspec
  automatic/nodejs.install/tools/chocolateyInstall.ps1
  automatic/nodejs/nodejs.json
  automatic/nodejs/nodejs.nuspec
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 7 updated - 1password 1password8 etcd Firefox kubescape Opera webstorm [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/bdf5e919b7c23432f7ffa4050c9bb82ef41a9f6e
  automatic/1password/1password.json
  automatic/1password/1password.nuspec
  automatic/1password8/1password8.nuspec
  automatic/1password8/tools/chocolateyInstall.ps1
  automatic/etcd/etcd.json
  automatic/etcd/etcd.nuspec
  automatic/etcd/legal/VERIFICATION.txt
  automatic/firefox/firefox.json
  automatic/firefox/firefox.nuspec
  automatic/firefox/tools/LanguageChecksums.csv
  automatic/firefox/tools/chocolateyInstall.ps1
  automatic/kubescape/kubescape.nuspec
  automatic/kubescape/legal/VERIFICATION.txt
  automatic/opera/opera.nuspec
  automatic/opera/tools/chocolateyInstall.ps1
  automatic/webstorm/tools/ChocolateyInstall.ps1
  automatic/webstorm/webstorm.nuspec
Owners: @dgalbraith, @HollowMan6

AU: 6 updated - freecad GoogleChrome nuget.commandline vagrant vcredist140 vim [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/42700a3925fa532161ae550ec97d3e1b620abe59
  automatic/freecad/freecad.json
  automatic/freecad/freecad.nuspec
  automatic/freecad/tools/chocolateyInstall.ps1
  automatic/googlechrome/googlechrome.nuspec
  automatic/googlechrome/tools/chocolateyInstall.ps1
  automatic/nuget.commandline/legal/VERIFICATION.txt
  automatic/nuget.commandline/nuget.commandline.json
  automatic/nuget.commandline/nuget.commandline.nuspec
  automatic/vagrant/tools/chocolateyinstall.ps1
  automatic/vagrant/vagrant.nuspec
  automatic/vcredist140/info-17.txt
  automatic/vcredist140/tools/data.ps1
  automatic/vcredist140/vcredist140.json
  automatic/vcredist140/vcredist140.nuspec
  automatic/vim/legal/VERIFICATION.txt
  automatic/vim/tools/chocolateyinstall.ps1
  automatic/vim/vim.nuspec
Owners: none

AU: 4 updated - nodejs nodejs.install paint.net thunderbird [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/3d7552ba2b67bbf0ce2bb99ae0da571ec15a5b80
  automatic/nodejs.install/legal/VERIFICATION.txt
  automatic/nodejs.install/nodejs.install.json
  automatic/nodejs.install/nodejs.install.nuspec
  automatic/nodejs.install/tools/chocolateyInstall.ps1
  automatic/nodejs/nodejs.json
  automatic/nodejs/nodejs.nuspec
  automatic/paint.net/legal/VERIFICATION.txt
  automatic/paint.net/paint.net.nuspec
  automatic/paint.net/tools/ChocolateyInstall.ps1
  automatic/thunderbird/thunderbird.nuspec
  automatic/thunderbird/tools/LanguageChecksums.csv
  automatic/thunderbird/tools/chocolateyInstall.ps1
Owners: none

AU: 4 updated - ccleaner chromium vscode-insiders vscode-insiders.install [skip ci] https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/34d3e42c0d24ede11e9254024fd5c628d56a059e
  automatic/ccleaner/ccleaner.nuspec
  automatic/ccleaner/tools/chocolateyInstall.ps1
  automatic/chromium/chromium.json
  automatic/chromium/chromium.nuspec
  automatic/chromium/legal/VERIFICATION.txt
  automatic/chromium/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/tools/chocolateyInstall.ps1
  automatic/vscode-insiders.install/vscode-insiders.install.nuspec
  automatic/vscode-insiders/vscode-insiders.nuspec
Owners: none

.github/CODEOWNERS:

# The following file is only used to request reviews from
# specific users that is handling a certain package (or file)
# and has write permission to the repository.
# If you wishes to be requested as a reviewer and has write permission
# to the repository, feel free to add yourself to the list

# Global user/team to request review from (only used as a reference), hence commented out
# *  @chocolatey/community-maintainers


# Packages
# Multiple users can be set for the same match

*/ruby.portable*      @chocolatey-community/chocolatey-team-maintainers
*/python3-streams     @chocolatey-community/chocolatey-team-maintainers @Jackenmen
*/python*             @chocolatey-community/chocolatey-team-maintainers
*/calibre*            @gep13 @AdmiringWorm
*/cdburnerxp*         @gep13
*/poweriso*           @gep13
*/rdcman*             @gep13
*/wix*                @gep13
*/gobby*              @AdmiringWorm
*/gom-player*         @AdmiringWorm
*/jubler*             @AdmiringWorm
*/juju*               @AdmiringWorm
*/transifex*          @chocolatey-community/chocolatey-team-maintainers
*/waterfox*           @AdmiringWorm
*/composer*           @johnstevenson
*/k9s*                @danielkoek
*/krew*               @jetersen
*/kubelogin*          @jetersen
*/ffmpeg-full*        @VuiMuich
*/etcd*               @dgalbraith
*/octave.portable*    @dgalbraith
*/selenium-gecko-driver* @hansnull @chocolatey-community/chocolatey-team-maintainers
*/es*                 @TheCakeIsNaOH
*/selenium-chrome-driver* @chocolatey-community/chocolatey-team-maintainers
*/intunewinapputil*   @chocolatey-community/chocolatey-team-maintainers
*/selenium-chromium-edge-driver* @chocolatey-community/chocolatey-team-maintainers @AdmiringWorm
*/jenkins*            @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/brave*              @AdmiringWorm
*/nexus-repository*   @chocolatey-community/chocolatey-team-maintainers @chocolatey-community/chocolatey-community-solutions
*/totalcommander*     @pauby
*/kubescape*          @HollowMan6
*/googlechromebeta*   @tunisiano187
*/krita*              @tunisiano187
*/selenium.powershell* @chocolatey-community/chocolatey-team-maintainers

# Other
# This can be any file other that won't be matched as a package
# You can use the same matches as normally would be used in .gitignore/.gitattributes

extensions/chocolatey-azuredatastudio.extension/*      @pascalberger
extensions/chocolatey-vscode.extension/*               @pascalberger
